@use '../../../../scss/globals' as *;

.mini-cart {
  display: flex;
  flex-direction: column;
  gap: 8px;

  .mini-cart-item {
    border-bottom: $border;
    padding-bottom: 8px;
  }

  .product-price {
    font-size: rem(16px);
  }
}
