@use '../../../../scss/globals' as *;

.mini-cart {
  width: fit-content;
  height: fit-content;
  top: 16px;
  right: 16px;

  .mini-cart-title {
    margin-bottom: 12px;
  }

  .total-price {
    box-shadow: none;
  }

  .order-list {
    max-height: rem(300px);
    overflow: auto;
    margin: 0;
    padding-right: 12px;

    .order-img {
      width: rem(68px);
      height: rem(112px);
    }
  }

  .order-cart {
    align-items: center;
  }

  .mini-cart-info {
    display: flex;
    gap: 4px;
    padding: 12px;
    border-radius: $border-radius;
    background-color: $color-background;
    margin-bottom: 8px;
  }
}
