@use '../../../../scss/globals' as *;

.mini-cart {
  position: fixed;
  width: fit-content;
  height: fit-content;
  top: 16px;
  right: 16px;
  transform: translateX(-50%);
  z-index: 1000;
  display: flex;
  gap: 4px;
  flex-direction: column;
  padding: 16px;
  background-color: $color-white;
  box-shadow: $box-shadow;

  &.enter {
    transform: translateX(100%);
  }

  &.entered {
    transform: translateX(0);
  }

  &.exit {
    transform: translateX(100%);
  }

  .order-cart {
    align-items: center;
  }

  .mini-cart-title {
    padding-bottom: 8px;
    display: flex;
  }

  .product-price {
    font-size: rem(16px);
  }

  .mini-cart-info {
    display: flex;
    align-items: center;
    gap: 4px;
    justify-content: center;
    padding: 12px;
    border-radius: 4px;
    background-color: $color-background;
    margin-bottom: 8px;
    flex-direction: column;
  }
}
