@use '../../../../scss/globals' as *;

.panel-popup {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 120;
  width: 100%;
  max-width: rem(450px);
  height: 100%;
  display: flex;
  gap: 4px;
  flex-direction: column;
  padding: 16px;
  background-color: $color-white;
  box-shadow: $box-shadow;
  min-width: rem(340px);
  transform: translateX(-50%);
}
