@use '../../scss/globals' as *;

.dropdown-container {
  display: flex;
  justify-content: flex-end;
}

.dropdown-content {
  position: absolute;
  z-index: 1;
  background-color: $color-white;
  padding: 8px;
  box-shadow: $box-shadow;
  border-radius: 4px;
  max-width: rem(220px);
  display: flex;
  flex-direction: column;
  gap: 4px;

  .dropdown-content-footer {
    display: flex;
    gap: 4px;

    .btn {
      min-height: auto;
      font-size: rem(14px);
      padding: 8px;
    }
  }
}
