@use '../../scss/globals' as *;

.main-page {
  margin-top: 32px;
  width: 100%;
}

.main-page-header {
  width: 100%;
}

.page-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: flex-end;
  margin-block: 24px 12px;

  @include max-size($small) {
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
  }
}

.page-card {
  max-height: 78lvh;
  overflow: auto;
  background-color: $color-white;
  border-radius: 4px;
  box-shadow: $box-shadow;
  width: 100%;
  padding: 24px;

  &:has(table) {
    max-height: fit-content;
    overflow: inherit;
  }

  @include max-size($medium) {
    max-height: 100%;
    padding: 12px;
  }
}
