@use '../../scss/globals' as *;

.favorite-heart {
  line-height: 1px;
  padding: 12px;
  cursor: pointer;
  border-radius: 8px;

  &:hover {
    background-color: $color-light-gray-40;
  }

  &:has(input:focus-visible) {
    @include outline;
  }

  &:has(input:disabled) {
    opacity: 0.2;
    pointer-events: none;
  }

  .heart-icon {
    font-size: rem(16px);
    background: none;
    border: none;
    cursor: pointer;

    &.animate {
      fill: $color-red-10;
      stroke: $color-red-10;

      @include animation(heartbeat, 0.3s);
    }
  }
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }

  30% {
    transform: scale(0.95);
  }

  60% {
    transform: scale(1.4);
  }

  100% {
    transform: scale(1);
  }
}
