@use '../../../../scss/globals' as *;

.payment-methods {
  display: flex;
  align-items: center;
  gap: 32px;
  background: #f7f7f7;
  padding: 20px 24px;
  border-radius: 8px;
  margin-bottom: 32px;
  flex-wrap: wrap;
}

.payment-method {
  display: flex;
  align-items: center;
  gap: 10px;

  .radio-skeleton {
    width: 22px;
    height: 22px;
    border-radius: 50%;
  }

  .label-skeleton {
    width: 64px;
    height: 16px;
  }
}

.card-icons {
  display: flex;
  gap: 8px;
  margin-left: auto;

  .skeleton {
    width: 40px;
    height: 26px;
  }
}
