@use '../../scss/globals' as *;

.color-list {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;

  &.small {
    gap: 4px;

    .option-box {
      width: 8px;
      height: 8px;
    }
  }
}
