@use '../../scss/globals' as *;

.delete-item {
  width: rem(216px);
  text-wrap: pretty;

  p {
    margin: 0;
  }

  .footer {
    gap: 12px;

    .btn {
      min-height: fit-content;
      font-size: $font-small;
      padding: 8px;
    }
  }
}
