@use '../../scss/globals' as *;

.delete-item {
  min-width: rem(216px);

  p {
    margin: 0;
  }

  .footer {
    gap: 12px;

    .btn {
      min-height: fit-content;
      font-size: $font-small;
      padding: 8px;
    }
  }
}
