@use '../../scss/globals' as *;

.delete-item {
  min-width: rem(216px);

  p {
    margin: 0;
  }

  .footer {
    margin-top: 8px;

    .btn {
      min-height: auto;
      font-size: $font-small;
      padding: 8px;
    }
  }
}
