@use '../../scss//globals' as *;

.my-orders {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .my-order-header,
  .my-order-footer {
    display: flex;
    justify-content: space-between;
  }

  .my-order-footer {
    font-size: $font-medium;
  }

  .my-order-meta {
    font-family: $font-primary-semibold;
  }

  .badge {
    margin-top: 8px;
  }

  .product-price {
    font-size: $font-medium;
  }

  .btn-ghost {
    font-family: $font-primary-semibold;
    font-size: $font-medium;
    text-transform: uppercase;
  }

  .my-order-card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: $border;
    padding: 20px;
  }
}
