@use '../../scss//globals' as *;

.my-orders {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .my-order-header,
  .my-order-footer {
    display: flex;
    justify-content: space-between;
  }

  .badge {
    margin-top: 8px;
  }

  .product-price {
    font-size: rem(20px);
  }

  .my-order-card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: $border;
    padding: 20px;
  }

  .my-order-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    border-block: $border;
    padding-block: 20px;
  }

  .my-order-list-item {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}
