@use '../../scss/globals' as *;

.pagination {
  display: grid;
  place-content: center;
  margin-block: 24px;
}

.pagination-btn-list {
  display: flex;
  gap: 8px;
  align-items: center;

  .btn {
    min-height: auto;
    width: rem(48px);
    height: rem(48px);
    padding: 0;

    &:disabled {
      svg {
        stroke: $color-gray-60;
      }
    }

    &.current {
      background-color: $color-blue-30;
    }
  }
}
