@use '../../scss/globals' as *;

.pagination-btn-list {
  display: flex;
  gap: 18px;
  align-items: center;

  .btn {
    min-height: auto;
    width: 40px;
    height: 40px;
    padding: 8px 12px;
    border-radius: 0;

    &:disabled {
      svg {
        stroke: $color-gray-60;
      }
    }

    &.current {
      background-color: $color-blue-30;
    }
  }
}
