@use '../../scss/globals' as *;

.product-size-list {
  display: flex;

  .product-size-item {
    border: 1px solid $color-border;
    border-right-color: transparent;
    background-color: $color-background;
    color: $color-gray-60;
    min-width: rem(60px);
    height: rem(60px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 8px;

    &.available {
      background-color: $color-background-secondary;
      color: $color-white;
    }
  }
}
