@use '../../scss/globals' as *;

.product-size-list {
  display: flex;

  .product-size-item {
    border: 1px solid $color-border;
    border-right-color: transparent;
    min-width: rem(60px);
    height: rem(60px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 8px;

    &:last-child {
      border-right-color: $color-border;
    }
  }
}
