@use '../../scss/globals' as *;

.product-size-list {
  display: flex;

  .product-size-item {
    border: 1px solid $color-border;
    border-right-color: transparent;

    input {
      clip-path: inset(50%);
      position: absolute;
    }

    &:last-child {
      border-right-color: $color-border;
    }
  }

  .product-size {
    width: rem(68px);
    height: rem(68px);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
