@use '../../scss/globals/' as *;

.main-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $color-border;

  @include max-size($small) {
    align-items: flex-start;

    &.container {
      padding-top: 52px;
    }
  }

  .logo {
    svg {
      height: rem(24px);
      width: rem(260px);

      @include max-size($small) {
        width: rem(200px);
      }
    }
  }
}

.main-panel {
  top: 84px;
}

.welcome-message-container {
  display: flex;
  gap: 8px;
  align-items: center;
}

.header-icon-list {
  display: flex;
  gap: 16px;
}

.preferences {
  display: flex;
  gap: 24px;
  margin-block: 24px 56px;

  .input-container {
    gap: 0;
  }

  legend {
    margin-bottom: 8px;
    position: static;
  }

  .fieldset {
    width: 100%;
  }

  /* stylelint-disable-next-line selector-class-pattern */
  .select-box__menu-list {
    max-height: rem(100px);
  }
}
