@use '../../scss/globals/' as *;

$animation-starts-after: 20vh;
$animation-distance: 500px;

.logo {
  svg {
    height: rem(24px);
    width: rem(260px);
  }
}

.main-header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $color-border;

  .toggle-panel {
    @include max-size($mini) {
      top: calc($header-height + 26px);
    }
  }

  .btn > svg {
    height: rem(24px);
    width: rem(24px);
  }

  @include max-size($small) {
    justify-content: flex-start;
    gap: 20px;
  }

  @include max-size($mini) {
    flex-direction: column;
    display: flex;
    gap: 12px;
    align-items: flex-start;
  }
}

.main-header {
  min-height: $header-height;
  display: flex;
  width: 100%;
  align-items: center;
  position: sticky;
  z-index: 1000;
  top: 0;
  background-color: $color-white;
  margin-bottom: 20px;

  .main-header-content {
    padding-block: 30px;

    @include max-size($mini) {
      padding-bottom: 20px;
    }
  }
}

.main-panel {
  top: 84px;
}

.welcome-message-container {
  display: flex;
  gap: 8px;
  align-items: center;
}

.header-icon-list {
  display: flex;
  gap: 16px;

  .favorite-link {
    position: relative;
  }

  .favorites-count {
    font-size: $font-mini;
    position: absolute;
    top: -6px;
    right: -8px;
    background-color: $color-blue-30;
    color: $color-white;
    width: rem(16px);
    height: rem(16px);
    border-radius: 50%;
    display: inline-grid;
    place-content: center;
    min-width: fit-content;
    padding: 4px;
  }
}

.preferences {
  display: flex;
  gap: 24px;
  margin-block: 24px 16px;

  @include max-size($mini) {
    flex-direction: column;
  }
}

@keyframes sticky-header {
  100% {
    top: 4px;
  }
}
