@use '../../scss/globals/' as *;

$animation-starts-after: 20vh;
$animation-distance: 500px;

.main-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $color-border;

  .toggle-panel {
    top: calc($header-height + 26px);
  }

  .logo {
    svg {
      height: rem(24px);
      width: rem(260px);
    }
  }

  .btn > svg {
    height: rem(24px);
    width: rem(24px);
  }

  @include max-size($small) {
    justify-content: flex-start;
    gap: 20px;
  }

  @include max-size($mini) {
    flex-direction: column;
    display: flex;
    gap: 12px;
    align-items: flex-start;
  }
}

.main-header {
  min-height: $header-height;
  display: flex;
  width: 100%;
  align-items: center;
  position: sticky;
  z-index: 1000;
  top: 0;
  background-color: $color-white;

  @supports (animation-timeline: view()) {
    @media (prefers-reduced-motion: no-preference) {
      animation: sticky-header linear forwards;
      animation-timeline: view();
      animation-range-start: calc(100dvh + $animation-starts-after);
      animation-range-end: calc(
        100dvh + $animation-starts-after + $animation-distance
      );
    }
  }

  .main-header-container {
    padding-block: 30px;

    @include max-size($mini) {
      padding-bottom: 20px;
    }
  }
}

.main-panel {
  top: 84px;
}

.welcome-message-container {
  display: flex;
  gap: 8px;
  align-items: center;
}

.header-icon-list {
  display: flex;
  gap: 16px;

  .favorite-link {
    position: relative;
  }

  .favorites-count {
    font-size: $font-mini;
    position: absolute;
    top: -6px;
    right: -8px;
    background-color: $color-blue-30;
    color: $color-white;
    width: rem(16px);
    height: rem(16px);
    border-radius: 50%;
    display: inline-grid;
    place-content: center;
    min-width: fit-content;
    padding: 4px;
  }
}

.preferences {
  display: flex;
  gap: 24px;
  margin-block: 24px 56px;

  @include max-size($mini) {
    flex-direction: column;
  }

  .input-container {
    gap: 0;
  }

  .control-list {
    flex-wrap: nowrap;
    gap: 8px;
  }

  .control-item {
    height: $input-height;
    background-color: $color-input-background;
    border-radius: 4px;
    width: 100%;

    .control-label {
      height: 100%;
    }
  }

  legend {
    margin-bottom: 8px;
    position: static;
  }

  /* stylelint-disable-next-line selector-class-pattern */
  .select-box__menu-list {
    max-height: rem(100px);
  }
}

@keyframes sticky-header {
  100% {
    top: 4px;
  }
}
