@use '../../../scss/globals' as *;

.sub-nav-container {
  box-shadow: $box-shadow;
  position: absolute;
  width: 100%;
  z-index: 2;
  top: 60px;
  left: 0;
  background-color: $color-white;
  justify-content: center;
  display: flex;

  @include max-size($small) {
    position: static;
    display: flex;
    flex-direction: column;
    box-shadow: none;
    margin-top: 20px;
    padding-left: 20px;
  }

  .sub-nav {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;

    @include max-size($small) {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }

  .sub-nav-item {
    display: flex;
    flex-direction: column;
    padding: 24px;

    p {
      margin: 0;
      margin-top: 12px;
    }

    &.sub-nav-ad {
      flex-direction: row;
      align-items: center;
      gap: 28px;
      background-color: $color-gray-20;
      background-image: url('/images/ad.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: top right;
    }

    &.background-gray {
      background-color: $color-light-gray-30;
    }
  }

  .sub-nav-heading {
    font-size: rem(24px);
  }

  .sub-nav-text {
    flex-grow: 1;
    max-width: rem(300px);
  }

  .sub-nav-link {
    display: flex;
    justify-content: flex-end;

    .btn {
      max-width: fit-content;
      min-height: 20px;
      padding: 12px 28px;
    }
  }
}

.has-sub-nav {
  &:hover,
  &:focus-within {
    .sub-nav-container {
      display: flex;
    }
  }
}
