@use '../../../scss/globals' as *;

.mobile-sub-item {
  grid-column: span 3;
  border-top: 1px solid $color-gray-70;
  padding: 12px 8px;
  margin-inline: 20px;
}

.nav-btn {
  &.btn-ghost {
    padding: 8px 12px;
    font-size: $font-medium;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;

    &.active {
      border-color: $color-gray-70;
    }
  }
}

.sub-nav-container {
  box-shadow: $box-shadow;
  position: absolute;
  width: 100%;
  z-index: 3;
  top: 60px;
  left: 0;
  background-color: $color-white;
  justify-content: center;
  display: none;

  @include transition;

  &.shown {
    display: flex;
    max-height: 500px;
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }

  .sub-nav {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;

    @include max-size($small) {
      grid-template-columns: repeat(3, 1fr);
      margin-top: 8px;
    }
  }

  .sub-nav-content {
    padding: 32px;
    padding-top: 60px;
  }

  .sub-nav-item {
    display: flex;
    flex-direction: column;

    .btn {
      text-transform: none;
      width: auto;

      &::after {
        inset: -8px;
      }
    }

    @include max-size($small) {
      padding-inline: 20px;
    }

    p {
      margin: 0;
      margin-top: 8px;
    }

    &.sub-nav-ad {
      flex-direction: row;
      align-items: center;
      gap: 28px;
      position: relative;
      background-color: $color-gray-20;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: top right;

      @include max-size($small) {
        height: rem(230px);
        width: 100%;
        grid-column: span 3;
      }
    }

    &.background-gray {
      background-color: $color-light-gray-30;
    }
  }

  .ad-heading {
    position: absolute;
    top: 24px;
    left: 24px;
    max-width: 44%;
    font-size: 24px;
    text-wrap: pretty;
  }

  .ad-text {
    max-width: rem(232px);
    text-wrap: pretty;
  }

  .sub-nav-heading {
    font-size: $font-large;
  }

  .sub-nav-text {
    flex-grow: 1;
    max-width: rem(300px);
  }

  .sub-nav-link {
    display: flex;
    justify-content: flex-end;
    padding: 16px;

    .btn {
      max-width: fit-content;
      min-height: 20px;
      padding: 12px 28px;
    }
  }
}

@include max-size($small) {
  .sub-nav-container {
    position: relative;
    top: 0;
    display: flex;
    flex-direction: column;
    box-shadow: none;
    background-color: inherit;
  }
}
