/* stylelint-disable no-descending-specificity */
@use '../../scss/globals' as *;

.table-controls {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 8px;

  .btn-default {
    font-size: $font-small;
  }
}

.table-actions {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 8px;

  @include max-size($medium) {
    flex-direction: column;
    align-items: normal;
  }
}

.table-search-input {
  .tooltip {
    padding: 0;
  }

  .input-container {
    .table-search {
      background-color: $color-white;
      height: rem(48px);
    }
  }
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;

  tbody {
    &.padding-4 {
      td {
        padding-block: $padding-block-small-px;
      }
    }

    &.padding-12 {
      td {
        padding-block: $padding-block-medium-px;
      }
    }

    &.padding-20 {
      td {
        padding-block: $padding-block-large-px;
      }
    }
  }

  tr {
    &:nth-child(odd) {
      td {
        background-color: $color-background;
      }
    }
  }

  th,
  td {
    padding: 4px 12px;
    white-space: nowrap;
  }

  td {
    line-height: rem(24px);
    background-color: $color-white;
  }

  th {
    background-color: $color-white;
    border-right: 1px solid $color-border;
    border-bottom: 1px solid $color-border;

    .input-container {
      min-width: 180px;
    }
  }
}

.fixed-table {
  position: relative;
  width: rem(300px);
  min-width: 100%;
  margin-bottom: 12px;
  border: 1px solid $color-border;

  @include max-size($medium) {
    max-height: rem(400px);
    overflow: auto;
  }

  .padding-20 {
    img {
      height: rem(128px);
    }
  }

  img {
    max-width: rem(136px);
    min-width: rem(136px);
    height: rem(96px);
    object-fit: cover;
    object-position: center;
  }

  .missing-img {
    max-width: rem(136px);
    min-width: rem(136px);
    height: auto;
    padding: 8px 0;
    margin: 0;

    svg {
      width: rem(36px);
    }
  }

  table {
    .edit-cell {
      display: flex;
      justify-content: space-between;

      .radio-btn-content {
        max-height: rem(36px);
      }

      .input-container {
        width: auto;
      }

      input:not(input[type='radio']) {
        padding: 4px;
        background-color: $color-white;
        border: 1px solid $color-gray-60;
        height: rem(38px);
      }

      .edit-controls {
        display: flex;
        gap: 12px;

        @include max-size($small) {
          flex-direction: column;
        }

        .radio-btn-container {
          .radio-btn-label {
            text-transform: none;
            min-height: auto;
            padding-inline: 8px;
          }
        }
      }
    }

    tbody {
      display: flex;
      flex-direction: column;
      max-height: rem(600px);
      overflow: auto;

      @include max-size($medium) {
        display: table-row-group;
      }
    }

    th {
      position: sticky;
      top: 0;
      z-index: 2;
      white-space: nowrap;

      &:first-child {
        z-index: 3;
      }

      &:last-child {
        border-right: 0;
      }
    }

    th,
    td {
      &:last-child {
        width: 15%;
      }

      &:first-child {
        position: sticky;
        left: 0;
        white-space: inherit;

        @include max-size($small) {
          width: auto;
        }
      }
    }

    tr {
      @include min-size($medium) {
        display: table;
        width: 100%;
        table-layout: fixed;
      }
    }

    .table-header-cell {
      display: flex;
      justify-content: space-between;
    }

    .dot {
      width: rem(12px);
      height: rem(12px);
      border-radius: 50%;
      background-color: $color-info;
      display: flex;
      position: absolute;
      top: -2px;
      right: -4px;
      border: 3px solid $color-white;
    }

    .btn {
      padding: 0;
    }
  }
}
