@use '../../scss/globals' as *;

.table-controls {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 8px;
}

.clear-btns {
  display: flex;
  gap: 8px;
}

.clear-filters-btn {
  padding: 8px 16px;
  background-color: #f1f1f1;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.2s;

  &:hover {
    background-color: #e5e5e5;
  }

  &:active {
    background-color: #d9d9d9;
  }
}

.fixed-table {
  position: relative;
  width: 100%;
  margin-bottom: 12px;
  border: 1px solid $color-border;

  @include max-size($medium) {
    max-height: rem(400px);
    overflow: auto;
  }
}

table {
  border-collapse: collapse;
  width: 100%;

  tbody {
    display: flex;
    flex-direction: column;
    max-height: rem(400px);
    overflow: auto;

    @include max-size($medium) {
      display: table-row-group;
    }
  }

  .edit-cell {
    display: flex;
    justify-content: space-between;

    .input-container {
      width: auto;
    }

    input {
      padding: 4px;
    }

    .edit-controls {
      display: flex;
      gap: 12px;
    }
  }

  th {
    background-color: $color-white;
    border-right: 1px solid $color-border;
    border-bottom: 1px solid $color-border;
    position: sticky;
    top: 0;
    z-index: 2;
    white-space: nowrap;
    text-align: left;

    &:first-child {
      z-index: 3;
    }

    &:last-child {
      border-right: 0;
    }
  }

  td {
    line-height: rem(24px);
    background-color: $color-white;
  }

  /* stylelint-disable-next-line no-descending-specificity */
  th,
  td {
    padding: 4px 12px;
    word-wrap: break-word;

    &:first-child {
      border-right: 1px solid $color-border;
      position: sticky;
      left: 0;
    }
  }

  tr {
    @include min-size($medium) {
      display: table;
      width: 100%;
      table-layout: fixed;
    }

    &:nth-child(odd) {
      td {
        background-color: $color-background;

        &.no-records-table-field {
          background-color: $color-white;
          border: none;
          padding: 0;
        }
      }
    }
  }

  .dropdown-container {
    position: static;
  }

  .no-table-data {
    padding: 4px 12px;
  }

  .btn {
    padding: 0;
  }

  .table-header-cell {
    display: flex;
    justify-content: space-between;
  }

  .sort {
    display: flex;
    gap: 4px;
  }

  .dot {
    width: rem(12px);
    height: rem(12px);
    border-radius: 50%;
    background-color: $color-info;
    display: flex;
    position: absolute;
    top: -2px;
    right: -4px;
    border: 3px solid $color-white;
  }
}

.table-search-input {
  position: relative;

  .input-container {
    right: -8px;
    top: 32px;
    position: absolute;
    z-index: 3;
    min-width: rem(180px);
  }
}

.table-grid-icons {
  display: flex;
  gap: 8px;
  justify-content: flex-end;

  .btn-ghost {
    padding: 0;
    color: #66606d;

    &.is-active {
      color: #c8c8d0;
    }
  }
}
