@use '../../../scss/globals' as *;

.collection-aside {
  background-color: $color-light-gray-10;
  min-width: rem(252px);

  .collection-aside-header {
    border-bottom: 4px solid $color-gray-40;
    padding: 32px;
  }
}

.collection-nav-list {
  font-size: $font-medium;

  .collection-nav-item {
    display: flex;
    align-items: center;
    padding-left: 8px;

    &::marker {
      content: '';
    }

    &::before {
      content: '▪▪\A▪▪';
      white-space: pre;
      display: inline-block;
      line-height: 0.4;
      font-size: 16px;
      margin-right: 8px;
    }

    &:has(a:hover),
    &:has(a.active) {
      background-color: $color-light-gray-30;
    }

    a {
      width: 100%;
      display: flex;
      padding: 12px 0;
      border-radius: 8px;
    }
  }
}
