@use '../../../scss/globals' as *;

.filter-panel {
  height: 100%;
  padding: 20px;

  .dural-range-fieldset {
    border-block-end: 1px solid $color-border-dark;
    padding-bottom: 12px;
  }

  .checkbox-list {
    max-height: 312px;
    overflow: auto;

    .checkbox-item {
      padding-right: 8px;
    }
  }

  .clear-filter-btn {
    &:disabled {
      svg {
        stroke: currentcolor;
      }
    }
  }
}

.filter-form {
  height: 100%;
  display: flex;
  flex-direction: column;

  .filter-fieldset {
    flex-grow: 1;

    legend {
      font-size: rem(20px);
      margin-bottom: 8px;
    }
  }

  .fieldset {
    gap: 0;
    margin-bottom: 0;
  }
}

.filter-footer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-right: 16px;
}

.toggle-content {
  overflow: auto;
  max-height: calc(4 * 32px + 12px);
  margin-bottom: 8px;
}
