@use '../../../scss/globals' as *;

.size-overlay {
  gap: 30px;
  display: flex;
  background-color: rgb($color-white, 0.8);
  padding: 12px 4px;
  justify-content: center;
  position: absolute;
  transform: translateY(0);
  width: 100%;

  @include transition($what: transform);
}

.product-img-container {
  position: relative;
  overflow: hidden;

  .favorites-label {
    position: absolute;
    z-index: 2;
    right: 5px;
    top: 5px;
    border-radius: 8px;
    background: rgb(250 250 250 / 60%);
  }

  &:hover {
    .size-overlay {
      transform: translateY(-100%);
    }
  }
}

.favorites-page {
  .product-card-list {
    .product-card {
      max-width: rem(400px);
    }
  }
}

.product-card-content {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-block: 8px 16px;

  p {
    margin: 0;
  }

  .product-card-title {
    font-family: $font-primary-bold;
    font-size: $font-medium;
    text-transform: uppercase;
  }

  .product-card-description {
    max-width: rem(652px);
  }
}

.product-card-list {
  display: grid;

  @include grid-template-column;

  grid-auto-rows: rem(520px) auto;
  container-type: inline-size;

  .product-card {
    grid-row: span 2;
    display: grid;
    grid-template-rows: subgrid;
    position: relative;

    &:has(a:focus-visible) {
      @include outline;
    }
  }

  .product-card-img {
    border-radius: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &.list {
    grid-auto-rows: rem(320px) auto;
    gap: 30px;

    .product-card-img {
      height: rem(320px);
    }

    .product-card {
      grid-column: span 3;
      grid-row: span 1;
      grid-auto-columns: rem(270px) auto;
      gap: 32px;
      align-items: center;

      .product-card-content,
      .product-img-container {
        grid-row: none;
      }
    }
  }
}

.shopping-bag-container {
  position: absolute;
  top: 470px;
  z-index: 2;
  right: 8px;
  border-radius: 4px;

  .btn-primary {
    padding: 12px;
    min-height: auto;
  }
}

.product-badge {
  position: absolute;
  left: 12px;
  top: 12px;
  background: $color-dust-red-20;
  color: $color-white;
  display: flex;
  padding: 8px 12px;
  border-radius: 2px;
  width: fit-content;
}
