@use '../../../scss/globals' as *;

.product-img-container {
  position: relative;
  overflow: hidden;

  &:hover {
    .size-overlay {
      transform: translateY(-100%);
    }
  }
}

.product-card-content {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-block: 8px 16px;

  p {
    margin: 0;
  }

  .product-card-title {
    font-size: $font-medium;
    font-family: $font-primary-bold;
    text-transform: uppercase;
  }
}

.product-card-list {
  display: grid;

  @include grid-template-column;

  grid-auto-rows: rem(520px) auto;
  container-type: inline-size;

  .product-card {
    grid-row: span 2;
    display: grid;
    grid-template-rows: subgrid;
  }

  .product-card-img {
    border-radius: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &.list {
    grid-auto-rows: rem(320px) auto;
    gap: 30px;

    .product-card-img {
      height: rem(320px);
    }

    .product-card {
      grid-column: span 3;
      grid-row: span 1;
      grid-auto-columns: 270px auto;
      gap: 32px;
      align-items: center;

      .product-card-content,
      .product-img-container {
        grid-row: none;
      }
    }
  }
}

.product-badge {
  position: absolute;
  left: 12px;
  top: 12px;
  background: $color-dust-red-20;
  color: $color-white;
  display: flex;
  padding: 8px 12px;
  border-radius: 2px;
  width: fit-content;
}
