@use '../../../scss/globals' as *;

$placement-y: 8px;
$placement-x: 12px;

.product-card {
  &:has(a:focus-visible) {
    @include outline($color: $color-gray-60);
  }

  p {
    margin: 0;
  }

  a {
    color: $color-primary;
  }

  .product-card-info {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .favorite-heart {
    position: absolute;
    z-index: 2;
    right: $placement-x;
    top: $placement-y;
    background-color: rgb($color-white, 50%);

    &:hover {
      background-color: rgb($color-gray-70, 60%);

      svg {
        stroke: $color-light-gray-40;
      }
    }
  }

  .badge {
    left: $placement-x;
    position: absolute;
    z-index: 1;
    top: $placement-y;
  }

  .size-overlay {
    gap: 30px;
    display: flex;
    background-color: rgb($color-white, 80%);
    padding: 12px 4px;
    justify-content: center;
    position: absolute;
    transform: translateY(0);
    width: 100%;

    @include transition($what: transform);
  }

  .product-card-content {
    margin-block: 8px 16px;

    .product-card-title {
      font-family: $font-primary-bold;
      font-size: $font-medium;
      text-transform: uppercase;
    }

    &:hover {
      .size-overlay {
        transform: translateY(-100%);
      }

      .product-card-title {
        color: $color-gray-60;
      }
    }
  }

  .card-img-container {
    aspect-ratio: 3 / 5;
    width: 100%;
    overflow: clip;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      border-radius: 0;
      object-fit: cover;
    }
  }
}

.product-card-list {
  @include grid-template-column;

  // List view
  &.list {
    grid-template-columns: 1fr;
    row-gap: 16px;

    .product-card {
      gap: 20px;
      align-items: center;

      @include grid-template-column;
    }

    .card-img-container {
      aspect-ratio: 3 / 4;
    }
  }
}
