@use '../../../scss/globals/functions' as *;

.skeleton-order-cart {
  .skeleton-badge {
    margin-top: 4px;
  }

  .footer-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .delivery-date {
    width: rem(220px);
    height: rem(14px);
  }

  .order-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    .order-id {
      width: rem(120px);
      height: rem(14px);
    }

    .order-price {
      width: rem(90px);
      height: rem(20px);
    }
  }
}
