.skeleton-order-cart {
  .skeleton-badge {
    margin-bottom: 12px;
  }

  .footer-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .delivery-date {
    width: 220px;
    height: 14px;
  }
}

.order-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  .order-id {
    width: 120px;
    height: 14px;
  }

  .order-price {
    width: 90px;
    height: 20px;
  }
}
