@use '../../../scss/globals' as *;

.price {
  font-family: $font-primary-bold;

  .discount-price {
    color: $color-red-15;
  }

  .orginal-price {
    text-decoration: line-through;
    font-size: $font-mini;
  }

  .price-seperator {
    font-size: $font-small;
    padding-inline: 4px;
  }
}

.product-discont-price {
  display: flex;
  gap: 4px;
  align-items: baseline;
  font-family: $font-primary-bold;
  font-size: $font-medium;
  color: $color-primary;
  margin: 0;

  .text-line-through {
    font-size: $font-mini;
  }
}

.has-discount {
  color: $color-red-15;
}

.price-seperator {
  font-size: $font-small;
}
