@use '../../scss/globals' as *;

.badge-container {
  display: flex;
  gap: 8px;
}

.badge {
  display: flex;
  align-items: center;
  gap: 4px;
  width: fit-content;
  background-color: $color-light-gray-30;
  font-family: $font-primary-bold;

  &:has(.badge-dot) {
    border: 1px solid;
    border-color: inherit;

    .badge-dot {
      display: flex;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: currentcolor;
    }
  }

  &.badge-large {
    border-radius: 50px;
    padding: 12px 20px;
  }

  &.badge-medium {
    border-radius: 4px;
    padding: 8px 12px;
  }

  &.badge-small {
    border-radius: 50px;
    padding: 2px 8px;
  }

  &.delivered {
    color: $color-info;
  }

  &.cancelled {
    color: $color-red-30;
  }

  &.created {
    color: $color-badge-default;
  }

  &.shipped {
    color: $color-blue-70;
  }

  &.processing {
    color: $color-yellow-80;
  }

  &.published {
    background-color: $color-badge-default;
    color: $color-light-gray-30;
  }

  &.scheduled {
    background-color: $color-badge-scheduled;
    color: $color-light-gray-30;
  }

  &.inactive {
    background-color: $color-badge-inactive;
    color: $color-light-gray-30;
  }

  &.discount {
    background-color: $color-badge-discount;
    color: $color-light-gray-30;
    text-transform: uppercase;
  }

  &.uppercase {
    text-transform: uppercase;

    &.cancelled {
      background-color: $color-red-30;
      color: $color-light-gray-30;
    }
  }

  &.out-of-stock {
    background-color: $color-warning;
    color: $color-primary;
  }
}
