@use '../../scss/globals/functions' as *;

figure {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  width: 100%;

  figcaption {
    width: 100%;
  }

  figure-img {
    border-radius: 4px;
  }
}
