@use '../../../scss/globals' as *;

.checkbox-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-inline-start: 1px solid $color-border;

  input {
    clip-path: inset(50%);
    position: absolute;
  }

  .checkbox-item {
    border: 1px solid transparent;
    border-inline-end: 1px solid $color-border;
    border-block-end: 1px solid $color-border;
    border-block-start: 1px solid $color-border;
    background: #fff;
    margin-top: -0.5px;

    &:last-child {
      border-right-color: $color-border;
    }

    &:has(input[type='checkbox']:checked) {
      background-color: $color-background-secondary;
      color: $color-white;
    }

    &:has(input[type='radio']:checked) {
      border-color: $color-black;
    }

    &:has(input[type='radio']:disabled) {
      label {
        text-decoration-line: line-through;
        text-decoration-thickness: 2px;
        white-space: pre;

        &::after,
        &::before {
          content: ' ';
          display: flex;
        }
      }
    }

    label {
      display: flex;
      align-items: center;
      justify-content: center;
      width: rem(68px);
      height: rem(68px);
      cursor: pointer;
    }
  }
}
