@use '../../../scss/globals' as *;

.checkbox-list {
  display: flex;
  gap: 12px;
  margin-block: 8px;
  overflow: auto;
  max-height: 500px;
  flex-direction: column;

  .checkbox-item {
    display: flex;
    gap: 8px;
    align-items: center;

    &:has(input:focus-visible) {
      background-color: $color-background;
    }
  }

  label {
    cursor: pointer;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  input[type='checkbox'] {
    min-height: auto;
    width: rem(24px);
    height: rem(24px);
    border: 2px solid $color-gray-60;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: static;
    clip-path: none;

    &:focus-visible {
      outline: transparent;
    }

    &:checked {
      background-color: $color-gray-80;
      border-color: $color-gray-80;
    }

    &::before {
      content: '';
      border-bottom: 3px solid $color-white;
      border-right: 3px solid $color-white;
      width: 6px;
      height: 12px;
      transform: scale(0) rotate(45deg);
      margin-bottom: 5px;

      @include transition($time: 0.2s);
    }

    &:checked::before {
      transform: scale(1) rotate(45deg);
    }
  }
}
