@use '../scss/globals' as *;

.admin {
  background-color: $color-background;
  justify-content: center;
}

.admin-container {
  .main-header-container {
    border: 0;
  }

  .main {
    display: flex;
    height: calc(100svh - $header-height);
  }

  .auth-form {
    margin-top: 0;
  }

  .admin-header {
    height: $header-height;
    display: flex;
    align-items: center;

    .logo {
      svg {
        @include max-size($small) {
          width: rem(260px);
        }
      }
    }

    .btn {
      max-width: rem(100px);
      padding-block: 12px;
      min-height: auto;
    }
  }

  .container {
    max-width: 100%;
    display: flex;
  }
}
