@use '../scss/globals' as *;

.admin {
  background-color: $color-background;
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 20px;
  padding-top: 32px;
}

.admin-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: $page-width-large;
}

.admin-container {
  .main {
    display: flex;
    height: calc(100svh - $header-height);
  }

  .admin-header {
    min-height: $header-height;
    display: flex;
    align-items: center;
    padding-inline: 20px;
    justify-content: space-between;

    .btn-primary {
      max-width: rem(100px);
      padding-block: 12px;
      min-height: auto;
    }
  }
}
