@use '../scss/globals' as *;

.admin {
  background-color: $color-background;
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 20px;
  padding-top: 32px;
}

.admin-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: $page-width-large;

  .page-card {
    max-height: 78lvh;
    overflow: auto;
    overflow-x: clip;
    background-color: $color-white;
    border-radius: 4px;
    box-shadow: $box-shadow;
    width: 100%;
    padding: 24px;

    @include max-size($medium) {
      max-height: 100%;
      padding: 12px;
    }
  }

  .label-value-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .text {
      display: flex;
      justify-content: flex-end;
    }
  }
}

.admin-container {
  .main {
    display: flex;
    height: calc(100svh - $header-height);
  }

  .admin-header {
    min-height: $header-height;
    display: flex;
    align-items: center;
    padding-inline: 20px;
    justify-content: space-between;

    .btn-primary {
      max-width: rem(100px);
      padding-block: 12px;
      min-height: auto;
    }
  }
}
