@use '../scss/globals' as *;

.admin {
  background-color: $color-background;
  justify-content: center;
}

.admin-container {
  .container {
    max-width: 100%;
    display: flex;
  }

  .main-header-container {
    border: 0;
  }

  .main {
    display: flex;
    height: calc(100svh - $header-height);
  }

  .admin-header {
    min-height: $header-height;
    display: flex;
    align-items: center;

    .btn {
      max-width: rem(100px);
      padding-block: 12px;
      min-height: auto;
    }
  }
}
