@use '../../../scss/globals' as *;

.fashion-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;

  .grid-flex {
    display: flex;

    @include max-size($large) {
      grid-column: span 2;
      min-height: rem(380px);
    }
  }

  .fashion-grid-item {
    display: flex;
    justify-content: flex-end;
    background-repeat: no-repeat;
    width: 100%;
    padding: 28px;

    h2 {
      font-size: $font-large;
      line-height: $font-large;
    }

    a {
      width: 100%;
      display: flex;
      font-size: rem(16px);
      color: $color-red-40;
      justify-content: flex-end;
    }
  }

  .fashion-grid-text {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    max-width: rem(400px);
  }

  .grid-item-1 {
    grid-row: span 2;
    background-color: $color-light-gray;
    background-image: url('/images/home/sale.png');
    background-size: contain;
    min-height: rem(760px);

    @include max-size($large) {
      grid-row: span 1;
      min-height: rem(380px);
    }

    .fashion-grid-text {
      justify-content: center;
      padding-bottom: 80px;
    }

    h2 {
      font-size: $font-xlarge;
      line-height: $font-xlarge;
    }
  }

  .grid-item-2 {
    background-image: url('/images/home/men.png');
    background-size: contain;
    background-position-y: bottom;
    background-color: #d6dcda;
  }

  .grid-item-3 {
    background-color: #faf0ef;
    background-image: url('/images/home/women.png');
    background-size: 250px;
    background-position-y: bottom;

    @include max-size($large) {
      background-size: contain;
    }

    .fashion-grid-text {
      max-width: rem(212px);
      padding-top: 20px;
    }

    .more-link {
      width: fit-content;
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }

  .grid-item-4 {
    background-image: url('/images/home/kids.jpg');
    background-size: cover;
    background-color: #e1e1e1;

    @include max-size($large) {
      background-size: contain;
    }
  }
}
