@use '../../../scss/globals' as *;

.fashion-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto;
  gap: 32px;

  @include max-size($medium) {
    gap: 20px;
    grid-template-columns: 1fr;
  }

  .grid-flex {
    display: flex;
    gap: 32px;

    @include max-size($large) {
      grid-column: span 2;
      min-height: rem(380px);
    }

    @include max-size($medium) {
      grid-column: span 1;
      gap: 20px;
    }

    @include max-size($small) {
      flex-direction: column;
    }
  }

  .fashion-grid-item {
    display: flex;
    justify-content: flex-end;
    background-repeat: no-repeat;
    width: 100%;
    padding: 28px;

    @include max-size($medium) {
      min-height: rem(412px);
      padding: 12px;
    }

    @include max-size($small) {
      min-height: rem(363px);
    }

    &.grid-item-2 {
      justify-content: flex-start;
    }

    &.grid-item-4 {
      @include max-size($small) {
        flex-direction: column;
      }
    }

    h2 {
      font-size: $font-large;
      line-height: $font-large;
    }

    a {
      width: 100%;
      display: flex;
      font-size: rem(16px);
      color: $color-dust-red-40;
      justify-content: flex-end;
    }
  }

  .fashion-grid-text {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    max-width: rem(400px);
  }

  .grid-item-1 {
    grid-row: span 2;
    background-color: $color-light-gray;
    background-image: url('/images/home/sale.png');
    background-size: contain;
    min-height: rem(760px);

    @include max-size($large) {
      min-height: rem(332px);
      grid-row: span 1;
      min-width: rem(748px);
    }

    @include max-size($medium) {
      min-height: rem(668px);
      min-width: 100%;
    }

    @include max-size($small) {
      min-height: auto;
    }

    .fashion-grid-text {
      justify-content: center;
      padding-bottom: 80px;

      @include max-size($small) {
        padding-bottom: 30px;
        max-width: rem(164px);
      }
    }

    h2 {
      font-size: $font-xlarge;
      line-height: $font-xlarge;

      @include max-size($small) {
        font-size: $font-large;
        line-height: $font-large;
      }
    }
  }

  .grid-item-2 {
    background-image: url('/images/home/men.png');
    background-size: contain;
    background-position: right bottom;
    background-color: #d6dcda;
  }

  .grid-item-3 {
    background-color: #faf0ef;
    background-image: url('/images/home/women.png');
    background-size: 250px;
    background-position-y: bottom;

    // @include between-size($small, $large) {
    //   background-size: contain;
    // }

    .fashion-grid-text {
      max-width: rem(212px);
      padding-top: 20px;

      @include max-size($large) {
        max-width: rem(412px);
      }

      @include max-size($small) {
        max-width: rem(296px);
      }

      @include max-size($mini) {
        max-width: rem(164px);
      }
    }

    .more-link {
      width: fit-content;
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }

  .grid-item-4 {
    background-image: url('/images/home/kids.jpg');
    background-size: cover;
    background-color: #e1e1e1;

    .fashion-grid-text {
      @include max-size($small) {
        max-width: 100%;
        padding: 30px;
      }
    }
  }
}
