@use '../../scss/globals' as *;

form {
  width: 100%;
}

.form-card {
  background-color: $color-white;
  border-radius: 4px;
  box-shadow: $box-shadow;
  margin-bottom: 12px;
  width: 100%;
  padding: 16px 24px;

  .fieldset {
    margin-bottom: 0;
  }

  h3 {
    font-family: $font-primary;
  }
}
