@use '../../scss/globals' as *;

form {
  width: 100%;
}

.form-card {
  background-color: $color-white;
  border-radius: 4px;
  box-shadow: $box-shadow;
  margin-bottom: 12px;
  width: 100%;
  padding: 16px 24px;

  @include max-size($small) {
    padding: 12px;
  }
}

.form-span-container,
.form-label-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
}

.form-info {
  font-style: italic;
  font-size: $font-mini;
  line-height: rem(18px);
  margin-block: 12px;
}

.form-container {
  display: flex;

  @include max-size($small) {
    flex-direction: column;
  }
}
