@use '../../scss/globals' as *;

.tooltip-container {
  display: flex;
  justify-content: flex-end;
}

.tooltip-content {
  background-color: $color-white;
  padding: 8px;
  box-shadow: $box-shadow;
  border-radius: 4px;
  position: absolute;
  z-index: 2;
}

.tooltip-arrow {
  width: 8px;
  height: 8px;
  background: #fff;
  transform: rotate(45deg);
  position: absolute;
}
