@use '../..//scss/globals' as *;

.tag-list {
  display: flex;
  gap: 4px;
  flex-wrap: wrap;

  .btn-ghost {
    text-transform: uppercase;
    padding: 4px;
    border: $border-dark;
    gap: 12px;
  }
}
