@use '../..//scss/globals' as *;

.tag-list {
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
  margin-bottom: 8px;

  .tag-item {
    display: flex;
    max-width: fit-content;
    border: 1px solid $color-border-dark;
    padding: 4px 8px;
    text-transform: uppercase;
    gap: 8px;
    white-space: nowrap;
  }
}
