@use '../../../../scss/globals' as *;

.my-order-item {
  display: flex;
  gap: 12px;
  align-items: center;

  .my-order-img {
    max-width: rem(80px);
  }

  .my-order-info {
    display: flex;
    gap: 8px;
    align-items: center;
  }

  .my-order-item-title {
    font-family: $font-primary-semibold;
    font-size: $font-medium;
  }
}
