@use '../../../scss/globals' as *;

.skeleton-order-page {
  .skeleton-sub-header {
    max-width: rem(712px);

    .skeleton-sub-header-title {
      max-width: 65%;
      margin-bottom: 12px;
    }
  }

  .content-row {
    display: flex;
    gap: 48px;
    margin-bottom: 48px;
  }

  .items-col {
    flex: 1.6;
  }

  .section-title {
    width: 150px;
    height: 16px;
    margin-bottom: 24px;
  }

  .item-row {
    display: flex;
    gap: 20px;
    padding-bottom: 24px;
    border-bottom: 1px solid $skeleton-border-color;
  }

  .item-thumb {
    width: 104px;
    height: auto;
    flex-shrink: 0;
  }

  .item-info {
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex: 1;
    padding-top: 4px;

    .skeleton {
      height: 15px;
    }
  }

  .item-name {
    width: 55%;
  }

  .item-price {
    width: 25%;
    height: 20px;
  }

  .item-meta-lines {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 8px;

    .skeleton {
      width: 30%;
    }
  }

  .price-col {
    flex: 1;

    .price-box {
      background-color: $skeleton-background;
      padding: 28px;

      .section-title {
        width: 140px;
      }
    }

    .price-line {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;

      .label-skeleton {
        width: 130px;
        height: 15px;
      }

      .value-skeleton {
        width: 80px;
        height: 15px;
      }
    }

    .price-total {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 20px;

      .label-skeleton {
        width: 60px;
        height: 20px;
      }

      .value-skeleton {
        width: 110px;
        height: 20px;
      }
    }
  }

  .confirmation-bottom-row {
    display: flex;
    gap: 48px;
    align-items: flex-start;
  }

  .overview-col {
    flex: 1.6;
  }

  .overview-title {
    width: 170px;
    height: 18px;
    margin-bottom: 8px;
  }

  .overview-group {
    margin-bottom: 24px;
    border-top: 1px solid $skeleton-border-color;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 12px;
  }

  .overview-label {
    width: 130px;
    height: 13px;
    margin-bottom: 10px;
  }

  .overview-value {
    width: 200px;
    height: 16px;
  }

  .addresses {
    display: flex;
    gap: 24px;
    flex: 2;

    .address-box {
      flex: 1;
      background-color: $skeleton-background;
      padding: 28px;

      .overview-label {
        width: 150px;
        margin-bottom: 20px;
      }

      .address-lines .skeleton {
        height: 15px;
      }
    }
  }
}
