@use '../../../scss/globals' as *;

.hide-time-icon {
  display: flex;
  width: 30px;
  height: 30px;
  position: absolute;
  background-color: $color-secondary;
  z-index: 1;
  right: 0;
  top: 50%;
  transform: translateX(-50%);
}
