@use '../../../scss/globals' as *;

.order-summary {
  .summary-title {
    margin-bottom: 12px;
  }
}

.order-summary-list {
  display: flex;
  gap: 8px;
  flex-direction: column;
}

.order-summary-item {
  display: flex;
  gap: 16px;

  .summary-img {
    width: rem(68px);
    height: rem(100px);
  }

  .summary {
    display: flex;
    gap: 4px;
  }
}

.confirmation-content {
  display: flex;
  flex-direction: column;
  gap: 40px;

  .confirmation-summary {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 40px;
  }

  .confirmation-info-container {
    display: flex;

    .confirmation-sub-header {
      text-wrap: balance;
    }

    .my-address-list {
      display: flex;
      gap: 40px;
      flex: 1;
      justify-content: flex-end;
    }

    .my-address-item {
      border: 0;
      background: #f9f9f9;
      border-radius: 4px;
      min-width: rem(300px);
    }
  }

  .confirmation-detail-list {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .text-uppercase {
      font-family: $font-primary-semibold;
    }

    p {
      margin: 0;
    }
  }

  .summary-payment {
    background-color: $color-background;
    padding: 20px;
    border-radius: 4px;
  }

  .summary-items {
    flex: 1;
  }

  .confirmation-detail-list-title {
    border-bottom: $border-dark;
    padding-bottom: 8px;
  }
}
