@use '../../../scss/globals' as *;

.order-summary {
  .summary-title {
    margin-bottom: 12px;
  }
}

.order-summary-list {
  display: flex;
  gap: 8px;
  flex-direction: column;
}

.order-summary-item {
  display: flex;
  gap: 16px;

  .summary-img {
    width: rem(68px);
    height: rem(100px);
  }

  .summary {
    display: flex;
    gap: 4px;
  }
}

.confirmation-summary {
  display: flex;

  .order-list {
    flex: 1;
  }

  .summary-list {
    background-color: $color-background;
    padding: 20px;
    border-radius: 4px;
  }
}

.confirmation-info-container {
  display: flex;

  .my-address-list {
    display: flex;
    gap: 40px;
    flex: 1;
    justify-content: flex-end;
  }

  .my-address-item {
    border: 0;
    background: #f9f9f9;
    border-radius: 4px;
  }
}

.text {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.confirmation-sub-header {
  text-wrap: balance;
}

.confirmation-detail-list {
  display: flex;
  flex-direction: column;
  gap: 12px;

  p {
    margin: 0;
  }
}

.confirmation-summary-title {
  margin-bottom: 20px;
  font-size: 16px;
  text-transform: uppercase;
  font-family: $font-primary-semibold;
}
