@use '../../scss/globals' as *;

.skip-link {
  position: fixed;
  z-index: 10000;
  padding: 8px 16px;
  opacity: 0;
  border-radius: 4px;
  background-color: $color-background-secondary;
  color: $color-white;
  top: -20px;

  @include transition;

  &:focus {
    top: 0;
    outline: transparent;
    opacity: 1;
  }
}
