/* stylelint-disable no-descending-specificity */
@use '../../../scss/globals' as *;

input[type='radio'] {
  border-radius: 50%;

  &::before {
    content: '';
    width: rem(15px);
    height: rem(15px);
    border-radius: 50%;
    transform: scale(0);

    @include transition($time: 0.12s);

    box-shadow: inset 16px 0 $color-blue;
  }

  &:checked {
    border-color: $color-blue;
    outline: transparent;

    &::before {
      transform: scale(1);
    }
  }
}

.test2 {
  width: 100%;
}

.test {
  display: flex;
  flex-direction: row;
  gap: 12px;
  margin-bottom: 20px;

  .radio-btn-container {
    display: flex;
    gap: 8px;
  }

  input[type='radio'] {
    background-color: #f4f4f5;
    width: 100%;
    min-height: 60px;
    border-radius: 2px;
    border: 0;
    padding: 0;
    margin: 0;

    &::before {
      transform: scale(0);
    }

    &:checked {
      background-color: #2f6d8f;
      border: 0;
    }
  }

  .checkbox-radio-container .form-label-container {
    z-index: 1;
    position: absolute;
  }

  .checkbox-radio-container:focus-within {
    outline: 0;

    input {
      @include outline(rgba($color-blue, 70%));
    }
  }
}

.preferences {
  fieldset {
    width: 100%;
  }

  .checkbox-radio-container {
    margin-bottom: 0;
    width: 100%;
    justify-content: center;
  }

  .checkbox-radio-container:has(input:checked) {
    color: white;
  }

  legend {
    margin-bottom: 4px;
    position: static;
  }
}
