@use '../../../scss/globals' as *;

input[type='radio'] {
  border-radius: 50%;

  &::before {
    content: '';
    width: rem(8px);
    height: rem(8px);
    border-radius: 50%;
    transform: scale(0);
    box-shadow: inset 16px 0 $color-blue;

    @include transition($time: 0.12s);
  }

  &:checked {
    border-color: $color-blue;
    outline: transparent;

    &::before {
      transform: scale(1);
    }
  }
}

.card {
  display: flex;
  flex-direction: row;
  gap: 12px;
  text-transform: uppercase;

  .checkbox-radio-container {
    margin-bottom: 0;
    width: 100%;
    justify-content: center;

    &:has(input:checked) {
      color: white;
    }

    /* stylelint-disable-next-line no-descending-specificity */
    &:focus-within {
      outline: 0;
    }

    .form-label-container {
      z-index: 1;
      position: absolute;
    }
  }

  .radio-btn-container {
    display: flex;
    gap: 8px;
  }

  input[type='radio'] {
    width: 100%;
    padding: 0;
    margin: 0;

    @extend %styled-input;

    &::before {
      transform: scale(0);
    }

    &:checked {
      background-color: $color-blue-30;
      border: 0;
    }
  }
}
