@use '../../../scss/globals' as *;

input[type='radio'] {
  border-radius: 50%;

  &::before {
    content: '';
    width: rem(15px);
    height: rem(15px);
    border-radius: 50%;
    transform: scale(0);

    @include transition($time: 0.12s);

    box-shadow: inset 16px 0 $color-blue;
  }

  &:checked {
    border-color: $color-blue;
    outline: transparent;

    &::before {
      transform: scale(1);
    }
  }
}

.test {
  input[type='radio'] {
    background-color: #f4f4f5;
    width: 300px;
    height: 150px;
    border-radius: 4px;
    border: 0;

    &::before {
      transform: scale(0);
    }

    &:checked {
      background-color: #2f6d8f;
      border: 0;
    }
  }

  .checkbox-radio-container .form-label-container {
    z-index: 20;
    position: absolute;
    left: calc(50% - 200px / 2);
  }

  .checkbox-radio-container:focus-within {
    outline: 0;

    input {
      @include outline(rgba($color-blue, 70%));
    }
  }
}
