@use '../../../../scss/globals' as *;

.order-item-cart {
  flex-grow: 1;
  display: flex;
  gap: 16px;

  .order-item-img {
    max-width: rem(104px);
    height: rem(164px);
  }

  .order-item-title {
    text-transform: uppercase;
    font-size: rem(16px);
  }

  .product-price {
    justify-content: start;
    font-size: rem(20px);
  }

  .order-item-info {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
}

.order-list-item {
  border-bottom: $border;
  padding-bottom: 8px;
  padding-right: 8px;
}

.order-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 400px;
  overflow: auto;
}
