@use '../../../../scss/globals' as *;

.order-method-info {
  display: flex;
  padding: 32px;
  flex-direction: column;
  flex: 1;
  gap: 4px;
  background-color: $color-background;

  .order-method-label {
    text-transform: uppercase;
    font-size: $font-small;
  }
}
