@use '../../../../scss/globals' as *;

.new-order-meta {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  gap: 4px;

  &.test {
    grid-template-columns: repeat(3, max-content);
  }
}

.orders {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .my-order-header,
  .my-order-footer {
    display: flex;
    justify-content: space-between;
  }

  .my-order-footer {
    font-size: $font-medium;
    align-items: center;
  }

  .my-order-meta {
    font-family: $font-primary-semibold;
  }

  .badge {
    margin-top: 6px;
  }

  .product-price {
    font-size: $font-medium;
  }

  .btn-primary {
    max-width: rem(150px);
  }

  .order-cart {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: $border;
    padding: 20px;
  }
}

.order-list {
  .order-list-item {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .order-item {
    display: flex;
    gap: 12px;
    align-items: center;
  }

  .order-img {
    width: rem(80px);
    height: rem(100px);
  }

  .order-info {
    display: flex;
    gap: 8px;
    align-items: center;
  }

  .order-item-title {
    font-family: $font-primary-semibold;
    font-size: $font-medium;
  }
}
