@use '../../scss/globals' as *;

.label-value-grid {
  padding-top: 8px;

  @include grid-fixed-columns($gap: 20px);

  .tooltip {
    display: flex;
    gap: 4px;
  }

  .label {
    white-space: nowrap;
  }
}
