@use '../../scss/globals' as *;

.label-value-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  .label {
    white-space: nowrap;
  }

  .text {
    display: flex;
    justify-content: flex-end;
  }
}
