@use '../../scss/globals' as *;

.toggle-panel {
  position: fixed;
  background-color: $color-white;
  height: 100%;
  overflow: hidden auto;
  z-index: 120;
  width: 100%;
  top: 0;
  max-width: rem(500px);
  right: 0;
  transform: translateX(100%);
  padding: 20px;

  &.shown {
    transform: translateX(0);
  }

  @include transition;

  &.left {
    left: 0;
    transform: translateX(-100%);

    &.shown {
      transform: translateX(0);
    }
  }

  &.top {
    left: 0;
    transform: translateY(-100%);

    &.shown {
      transform: translateY(0);
    }
  }

  &.bottom {
    bottom: 0;
    top: auto;
    left: 0;
    transform: translateY(100%);

    &.shown {
      transform: translateY(0);
    }
  }
}
