@use '../../scss/globals' as *;

.toggle-panel {
  position: fixed;
  background-color: $color-white;
  height: calc(100svh - $header-height);
  z-index: 10;
  width: 100%;
  overflow: auto;
  padding-bottom: 4px;

  @include transition;

  // transform: translate(0);

  &.left {
    left: 0;
    top: $header-height;
    transform: translateX(-100%);

    &.shown {
      transform: translateX(0);
    }
  }

  &.right {
    right: 0;
    top: $header-height;
    transform: translateX(100%);

    &.shown {
      transform: translateX(0);
    }
  }

  &.top {
    top: $header-height;
    left: 0;
    transform: translateY(-100%);

    &.shown {
      transform: translateY(0);
    }
  }

  &.bottom {
    bottom: 0;
    top: auto;
    left: 0;
    transform: translateY(100%);

    &.shown {
      transform: translateY(0);
    }
  }
}
