@use '../../../scss/globals' as *;

.favorites-panel {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
}

.favorites-form {
  height: 100%;
  display: flex;
  flex-direction: column;

  fieldset {
    flex-grow: 1;
  }
}

.favorites-item-cart {
  .product-price {
    font-size: rem(20px);
  }

  .favorite-item-img {
    width: 100%;
    max-height: rem(300px);
    margin-bottom: 12px;
  }
}
