.cart-item {
  display: grid;
  grid-template: 'image title price' auto 'image meta meta' auto 'image quantity actions' auto / 112px 1fr auto;
  gap: 4px 16px;
  align-items: center;
  width: 100%;
  max-width: 640px;
  padding: 16px;

  .cart-item-image {
    grid-area: image;
    align-self: start;
    width: 112px;
    height: 128px;
    object-fit: cover;
  }

  .cart-item-title {
    grid-area: title;
    align-self: end;
    margin: 0;
  }

  .cart-item-meta {
    grid-area: meta;
    align-self: start;
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
}

.price-group {
  grid-area: price;
  place-self: end end;
  display: flex;
  align-items: baseline;
  gap: 8px;

  .cart-item-original {
    text-decoration: line-through;
  }
}

.quantity {
  grid-area: quantity;
  align-self: end;
  display: flex;
  align-items: center;
  gap: 16px;
}

.actions {
  grid-area: actions;
  place-self: end end;
  display: flex;
  align-items: center;
  gap: 16px;
}
