.header-icon-list {
  display: flex;
}

.preferences {
  display: flex;
  gap: 24px;
  margin-block: 24px 44px;

  legend {
    margin-bottom: 8px;
    position: static;
  }

  .fieldset {
    width: 100%;
  }
}
