@use '../../scss/globals' as *;

$placements: (
  top: bottom,
  bottom: top,
  left: right,
  right: left,
);

.popup-container {
  box-shadow: $box-shadow;
  background-color: $color-light-gray-10;
  border-radius: 4px;
  z-index: 20;
  max-width: rem(280px);
  padding: 8px;
  opacity: 0;
  max-height: 0;
  overflow: hidden;

  @include transition($what: opacity, $time: 200ms);
  @include transition($what: max-height, $time: 120ms);

  &.popup-open {
    opacity: 1;
    max-height: fit-content;
  }

  @each $placement, $side in $placements {
    &[data-popper-placement^='#{$placement}'] > .popup-arrow {
      #{$side}: 4px;
    }
  }

  &:has(.dropdown-item) {
    padding: 0;
  }
}

.popup-arrow {
  visibility: hidden;
  background: inherit;

  &::before {
    visibility: visible;
    content: '';
    transform: rotate(45deg);
    position: absolute;
    width: 8px;
    height: 8px;
    background: inherit;
  }
}
