@use '../../scss/globals' as *;

.popup-container {
  box-shadow: $box-shadow;
  background-color: $color-light-gray-10;
  border-radius: 4px;
  z-index: 1000;
  overflow: visible;
  max-width: rem(280px);
  padding: 8px;

  &:has(.dropdown-item) {
    padding: 0;
  }
}

.popup-arrow {
  position: absolute;
  z-index: -1;

  &::before {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: $color-white;
    transform: rotate(45deg);
    box-shadow:
      0 2px 4px rgb(0 0 0 / 16%),
      0 0 4px rgb(0 0 0 / 10%);
  }
}

.popup-container[data-popper-placement^='top'] .popup-arrow {
  bottom: -4px;
}

.popup-container[data-popper-placement^='bottom'] .popup-arrow {
  top: -4px;
}

.popup-container[data-popper-placement^='left'] .popup-arrow {
  right: -4px;
}

.popup-container[data-popper-placement^='right'] .popup-arrow {
  left: -4px;
}
