@use '../../../scss/globals' as *;

.file-container {
  display: flex;
  align-items: center;

  .file-upload-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    flex: 1;
  }
}

.preview-list {
  display: flex;
  flex-direction: column;
  flex: 2;

  .preview-item {
    border: 1px solid $color-border;
    gap: 12px;
    position: relative;
    align-items: center;
    padding: 8px;
    border-radius: 4px;
    margin-bottom: 8px;
  }

  .preview-img {
    width: rem(92px);
    height: rem(92px);
    object-fit: cover;
  }

  .preview-info {
    display: flex;
    flex-direction: column;
  }

  .preview-size {
    color: $color-gray-60;
  }

  .btn-ghost {
    position: absolute;
    right: 16px;
  }
}
