.image-background {
  display: grid;

  .img-fallback {
    object-fit: cover;
    object-position: top;
    height: 100%;
    width: 100%;
    max-width: max-content;
    max-height: max-content;
  }
}

.image-background > * {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
}
