@use '../../../../scss/globals' as *;

.order-summary-list {
  display: flex;
  gap: 8px;
  flex-direction: column;
}

.order-payment-summary-item {
  display: flex;
  gap: 16px;

  .summary-img {
    width: rem(68px);
    height: rem(100px);
  }
}
