@use '../../../../scss/globals' as *;

.order-list-content {
  display: flex;
  gap: 20px;

  @include between-size($small, $medium) {
    flex-direction: column;

    .order-img {
      width: 100%;
    }
  }

  .order-list-content-action {
    display: flex;
    gap: 20px;
  }
}
