@use '../../scss/globals' as *;

.fieldset {
  border: 0;
  position: relative;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0;
  width: 100%;
  margin-bottom: 20px;

  legend {
    padding: 0;
    width: 100%;
    margin-bottom: 4px;
  }
}
