@use '../../scss/globals' as *;

.hero {
  background-image: url('/images/fashion_fusion_banner.webp');
  background-size: cover;
  background-repeat: no-repeat;
  height: rem(480px);

  h1::after {
    display: none;
  }

  @include max-size($large) {
    height: auto;
  }

  .container {
    height: 100%;
  }

  .btn-ghost {
    font-size: inherit;
    font-weight: bold;
    text-transform: uppercase;
    color: currentcolor;
    width: 100%;

    &::before {
      content: '';
      display: flex;
      margin-right: 30px;
      width: 80%;
      border-bottom: 2px solid $color-red-20;
      border-radius: 4px;
    }
  }

  .hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    max-width: rem(588px);
    height: 100%;
  }

  .hero-title {
    font-size: rem(48px);
    letter-spacing: 0;
    margin-bottom: 0;
  }

  .hero-text {
    max-width: rem(512px);
    font-size: rem(20px);
    line-height: rem(32px);

    p {
      margin: 0;
    }
  }
}
