@use '../../scss/globals' as *;

.hero {
  background-color: $color-light-gray;

  &.image-background {
    picture {
      place-self: end end;
    }
  }

  .img-fallback {
    max-height: rem(412px);
  }

  .hero-content {
    display: inline-grid;
    place-content: center;
    gap: 20px;
    width: 100%;
    max-width: rem(640px);
    height: 100%;
    padding-inline: 72px 40px;

    @include max-size($medium) {
      max-width: rem(500px);
      padding-inline: 32px;
    }

    @include between-size($small, rem(1150px)) {
      max-width: rem(448px);
      padding: 16px 28px;
    }

    @include max-size($small) {
      max-width: 100%;
      padding: 40px 72px;
    }

    @include max-size($mini) {
      padding: 16px 28px;
    }
  }

  .hero-title {
    font-size: clamp($font-large, $clamp-val, $font-xlarge);
    letter-spacing: 0;
    margin-bottom: 0;
  }

  .hero-text {
    font-size: clamp($font-medium, $clamp-val, rem(20px));
    line-height: clamp($font-large, $clamp-val, rem(32px));
    text-wrap: pretty;

    p {
      margin: 0;
    }
  }

  .hero-btn-container {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .hero-btn-decoration {
    height: 2px;
    background-color: $color-dust-red-30;
    width: 100%;
  }

  .btn-ghost {
    font-size: inherit;
    font-weight: bold;
    text-transform: uppercase;
    min-width: rem(80px);
    color: $color-dust-red-40;
  }
}
