@use '../../scss/globals' as *;

.hero {
  background-image: url('/images/fashion_fusion_banner.webp');
  background-size: cover;
  background-repeat: no-repeat;
  height: rem(372px);

  h1::after {
    display: none;
  }

  @include max-size($large) {
    height: auto;
  }

  .container {
    height: 100%;
  }

  .hero-btn-container {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .hero-btn-decoration {
    height: 2px;
    background: $color-red-30;
    width: 100%;
  }

  .btn-ghost {
    font-size: inherit;
    font-weight: bold;
    text-transform: uppercase;
    color: currentcolor;
    min-width: rem(60px);
  }

  .hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    max-width: rem(588px);
    height: 100%;
  }

  .hero-title {
    font-size: clamp($font-large, $clamp-val, $font-xlarge);
    letter-spacing: 0;
    margin-bottom: 0;
  }

  .hero-text {
    max-width: rem(512px);
    font-size: clamp($font-medium, $clamp-val, rem(20px));
    line-height: clamp($font-medium, $clamp-val, rem(32px));

    p {
      margin: 0;
    }
  }
}
