@use '../../../scss/globals' as *;

// Remove autofill
:-webkit-autofill,
:-webkit-autofill:hover,
:-webkit-autofill:focus {
  transition: background-color 5000s ease-in-out 0s;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  appearance: textfield;
}

::placeholder {
  color: $color-gray-60;
  opacity: 1;
}

textarea {
  resize: none;
  min-height: rem(128px);
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
  position: relative;
  border-bottom: 3px solid transparent;

  &:has(input:focus-visible) {
    border-color: $color-primary;
  }

  .form-label-container {
    display: flex;
    justify-content: space-between;
  }

  input,
  select,
  textarea {
    padding: 12px;
    width: 100%;
    position: relative;
    font-size: rem(14px);

    @extend %styled-input;
  }

  .error-message {
    font-weight: bold;
    color: $color-danger;

    @include max-size($small) {
      font-size: rem(12px);
    }
  }

  input[aria-invalid='true'] {
    @include outline($color-danger);

    &:focus-visible {
      border-color: $color-danger;
      outline: transparent;
    }
  }
}

.error-icon {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: rem(12px);
  transform: rotate(180deg);
  position: absolute;
  right: 8px;
  top: 48px;
  background-color: $color-danger;
  color: $color-white;
  z-index: 2;
  width: rem(20px);
  display: flex;
  border-radius: 50%;
  height: rem(20px);
  align-items: center;
  justify-content: center;
}

.checkbox-radio-container {
  display: flex;
  align-items: center;
  margin-bottom: 8px;

  /* stylelint-disable-next-line no-descending-specificity */
  input {
    appearance: none;
    background-color: $color-white;
    color: currentcolor;
    width: rem(18px);
    height: rem(18px);
    border: 2px solid $color-blue-30;
    transform: translateY(-1.2px);
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    @include transition($time: 0.22s);

    &:focus-visible {
      outline: transparent;
    }
  }

  &:focus-within {
    @include outline(rgba($color-blue-30, 70%));
  }

  .form-label-container {
    order: 2;
  }

  label {
    cursor: pointer;
  }
}

.form-info {
  font-style: italic;
  font-size: rem(12px);
  line-height: rem(18px);
  margin-block: 12px;
}

.form-footer {
  display: flex;
  gap: 12px;
  margin-top: 28px;
}
