@use '../../../scss/globals' as *;

.table {
  width: 100%;
  background: $color-white;
  border: $border;

  .row {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 12px;
    border-bottom: $border;
  }

  .row:last-child {
    border-bottom: none;
  }

  .cell {
    flex: 1;
    min-width: 0;
  }
}
