/* stylelint-disable no-descending-specificity */
@use '../../scss/globals' as *;

.skeleton-page-list {
  width: 100%;
  display: flex;
  gap: 12px;
  flex-direction: column;
}

.skeleton-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.skeleton-input-container {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.skeleton-input {
  gap: 8px;
  display: flex;
  flex-direction: column;
}

.skeleton {
  background-color: $color-gray-40;
  width: 100%;
  border-radius: 8px;
  display: flex;

  &.skeleton-img {
    height: 8rem;
    width: 12rem;
  }

  &.skeleton-primary {
    height: rem(36px);
  }

  &.skeleton-secondary {
    height: rem(44px);
  }

  @include animation(
    skeleton-animation,
    $duration: 1.2s,
    $timing: linear infinite alternate
  );
}

.skeleton-column {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;

  &.skeleton-page {
    gap: 32px;
  }
}

.skeleton-card {
  height: 350px;
  padding: 12px 30px;
}

@keyframes skeleton-animation {
  0% {
    opacity: 0.1;
  }

  100% {
    opacity: 0.4;
  }
}

.skeleton-list {
  display: flex;
  gap: 8px;
}

.skeleton-paragraph {
  display: flex;
  gap: 6px;
  flex-direction: column;
  width: 100%;

  .skeleton {
    &:last-child {
      max-width: 85%;
    }
  }
}

.skeleton-badge {
  .skeleton {
    border-radius: 50px;
  }
}
