@use '../../scss/globals' as *;

.skeleton-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;

  @include max-size($small) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
  }
}

.skeleton {
  animation: skeleton-animation 1.5s infinite linear;
  background: linear-gradient(
    90deg,
    $color-light-gray-30 25%,
    $color-light-gray-40 50%,
    $color-light-gray-30 75%
  );
  background-size: 200% 100%;
  width: 100%;
  border-radius: 8px;
  display: flex;

  &.skeleton-img {
    height: rem(500px);
  }

  &.skeleton-primary {
    height: rem(36px);
  }

  @include animation(skeleton-animation, 1.5s infinite, linear);
}

.skeleton-control-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.skeleton-control-item {
  display: flex;
  gap: 4px;
  margin-bottom: 12px;
}

.skeleton-card-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 21.875rem), 1fr));

  .skeleton {
    border-radius: 0;
  }
}

.skeleton-card {
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-width: 25%;
  margin-bottom: 12px;

  .flex {
    gap: 4px;
  }
}

.skeleton-badge {
  .skeleton {
    border-radius: 50px;
  }
}

.skeleton-column {
  width: 100%;
  display: flex;
  gap: 16px;
  flex-direction: column;

  .page-card {
    min-height: rem(360px);

    @include max-size($small) {
      min-height: auto;

      .flex {
        flex-direction: column;
      }
    }
  }

  &.skeleton-page {
    gap: 32px;
  }

  &.skeleton-paragraph {
    gap: 8px;
  }

  &.skeleton-input-container {
    gap: 20px;

    .skeleton-input {
      gap: 8px;
    }
  }
}

.skeleton-list {
  display: flex;
  gap: 8px;
}

.skeleton-paragraph {
  .skeleton {
    &:last-child {
      max-width: 85%;
    }

    &:only-child {
      max-width: 100%;
    }
  }
}

.width-100 {
  width: 100%;
}

.single-product-container {
  .skeleton-img {
    max-width: rem(591px);
  }
}

@keyframes skeleton-animation {
  0% {
    background-position: 100%;
  }

  100% {
    background-position: -100%;
  }
}
