@use '../../scss/globals' as *;

.skeleton-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;

  @include max-size($small) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
  }
}

.skeleton-heading {
  margin-bottom: 12px;
}

.skeleton {
  background: linear-gradient(
    90deg,
    $color-light-gray-30 25%,
    $color-light-gray-40 50%,
    $color-light-gray-30 75%
  );
  background-size: 200% 100%;
  height: rem(36px);
  width: 100%;
  border-radius: 8px;
  display: flex;

  // @include animation(skeleton-animation, 1.5s infinite, linear);
}

.skeleton-2-col {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.skeleton-badge {
  .skeleton {
    border-radius: 50px;
  }
}

.skeleton-control-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.skeleton-control-item {
  display: flex;
  gap: 4px;
  margin-bottom: 12px;
}

.skeleton-cart {
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-width: 25%;
  margin-bottom: 12px;

  .img {
    width: 100%;
    height: rem(520px);
  }

  .flex {
    gap: 4px;
  }
}

.skeleton-column {
  width: 100%;
  max-width: $page-width-large;
  display: flex;
  gap: 12px;
  flex-direction: column;

  &.small {
    max-width: 50%;
  }

  .page-cart {
    min-height: rem(360px);

    @include max-size($small) {
      min-height: auto;

      .flex {
        flex-direction: column;
      }
    }
  }

  &.skeleton-page {
    gap: 32px;
  }

  &.skeleton-input-container {
    gap: 20px;

    .skeleton-input {
      gap: 8px;
    }
  }
}

.skeleton-list {
  display: flex;
  gap: 8px;
}

.skeleton-paragraph {
  .skeleton {
    &:last-child {
      max-width: 85%;
    }

    &:only-child {
      max-width: 100%;
    }
  }
}

.width-100 {
  width: 100%;
}

.single-product-container {
  .skeleton-img {
    max-width: rem(591px);
  }
}

.skeleton-favorites {
  row-gap: 20px;
}

.skeleton-nav-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 14px 12px;
  margin-bottom: 4px;

  &.active {
    background: #f0f0f0;
  }

  .nav-icon {
    width: 16px;
    height: 16px;
    flex-shrink: 0;
  }

  .nav-label {
    height: 16px;
    width: 90px;
  }
}

@keyframes skeleton-animation {
  0% {
    background-position: 100%;
  }

  100% {
    background-position: -100%;
  }
}
