@use '../../scss/globals' as *;

.product-price {
  font-family: $font-primary-bold;
  font-size: rem(16px);
  color: $color-primary; // default

  &.has-discount {
    color: $color-red-15;
  }
}

.text-line-through {
  font-size: rem(12px);
  color: $color-primary;
}
