@use '../../../../scss/globals' as *;

.product-price {
  font-family: $font-primary-semibold;
  display: flex;
  justify-content: end;
  align-items: baseline;
  text-wrap: nowrap;

  .orginal-price {
    text-decoration: line-through;
    font-size: $font-mini;
  }

  .price-seperator {
    font-size: $font-small;
    padding-inline: 4px;
  }
}
