@use '../../scss/globals' as *;

label.product-size {
  cursor: pointer;
}

.product-size-item {
  &:has(input:checked) {
    border-color: black;

    &:last-child {
      border-color: black;
    }
  }
}
