.size-options {
  display: flex;
}

.size-label {
  display: flex;
  padding: 8px 16px;
  cursor: pointer;
  border: 1px solid #ccc;
}

.size-label:hover {
  border-color: black;
}

.size-label.selected {
  background-color: black;
  color: white;
  border-color: black;
}

.size-option-wrapper:not(:last-child) .size-label {
  border-inline-end-color: transparent;
}

/* Skjul det visuelle radio input, men behold det for screenreaders */
.size-option-wrapper input[type='radio'] {
  appearance: none;
  pointer-events: none;
  margin: 0;
}
