@use '../../../scss/globals' as *;

.number-step {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

  .read-only {
    padding-inline: 20px;
    min-width: fit-content;
  }

  .number-step-container {
    display: flex;
    gap: 2px;
  }

  .input-container {
    margin-bottom: 0;
    flex-direction: row;

    input {
      text-align: center;
      border: 0;
      padding: 0;
      padding-block: 12px;
      height: auto;
      background-color: inherit;
    }
  }

  .btn-ghost {
    padding-inline: 12px;
  }
}
