@use '../../../scss/globals' as *;

.number-step {
  .read-only {
    padding-block: 12px;
  }

  .number-step-container {
    display: flex;
    gap: 20px;
  }

  .input-container {
    margin-bottom: 0;
    flex-direction: row;

    input {
      text-align: center;
      border: 0;
      padding: 0;
      padding-block: 12px;
      height: auto;
      background-color: inherit;
    }
  }

  .btn-ghost {
    width: 20px;
    display: flex;
  }

  .spinner {
    width: rem(16px);
    height: rem(16px);
  }
}
