@use '../../scss/globals' as *;

.product-table {
  th,
  td {
    &:first-child {
      width: rem(300px);
    }
  }
}

.product-overview-cell {
  display: flex;
  gap: 8px;
  align-items: center;

  @include max-size($medium) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.product-list-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 24px;
  padding-bottom: 0;

  @include max-size($small) {
    padding: 0;
  }

  .product-list-headline {
    display: flex;
    margin-bottom: 4px;
  }
}

.product-size-list {
  display: flex;

  .product-size-item {
    border: 1px solid $color-border;
    border-right-color: transparent;
    background-color: $color-background;
    color: $color-gray-60;
    min-width: rem(60px);
    height: rem(60px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 8px;

    &.available {
      background-color: $color-background-secondary;
      color: $color-white;
    }
  }
}

.product-img-list {
  display: flex;
  gap: 4px;
  margin-bottom: 12px;

  @include max-size($small) {
    margin: 0;
  }

  .product-img-item {
    width: 100%;
    height: rem(124px);
    object-fit: cover;
  }
}
