@use '../../scss/globals' as *;

.product-table {
  th,
  td {
    &:first-child {
      width: rem(300px);
    }
  }
}

.product-overview-cell {
  display: flex;
  gap: 8px;
  align-items: center;

  @include max-size($medium) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.product-list-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 24px;
  padding-bottom: 0;

  @include max-size($small) {
    padding: 0;
  }

  .product-list-headline {
    display: flex;
    margin-bottom: 4px;
  }
}

.product-size-list {
  display: flex;
  gap: 8px;

  .product-size-list-item {
    background-color: $color-secondary;
    height: rem(40px);
    min-width: rem(40px);
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    color: $color-gray-40;

    &.available {
      color: $color-primary;
    }
  }
}

.product-img-list {
  display: flex;
  gap: 4px;
  margin-bottom: 12px;

  @include max-size($small) {
    margin: 0;
  }

  .product-img-item {
    width: 100%;
    height: rem(124px);
    object-fit: cover;
  }
}
