@use '../../scss/globals' as *;

.product-table {
  th,
  td {
    &:first-child {
      width: rem(300px);
    }
  }

  .product-discont-price {
    font-size: $font-small;
  }
}

.product-overview-cell {
  display: flex;
  gap: 8px;
  align-items: center;

  @include max-size($medium) {
    flex-direction: column;
    align-items: flex-start;
  }
}
