@use '../../scss/globals' as *;

.product-table {
  th,
  td {
    &:first-child {
      width: rem(300px);
    }
  }

  .product-discont-price {
    font-size: $font-small;
  }
}

.product-page {
  .page-card {
    max-height: fit-content;
  }

  .pagination {
    margin: 0;
    padding-block: 20px 0;

    @include max-size($small) {
      padding: 0;
      border: 0;
    }
  }
}

.product-overview-cell {
  display: flex;
  gap: 8px;
  align-items: center;

  @include max-size($large) {
    flex-direction: column;
    align-items: flex-start;
  }
}
