@use '../../../scss/globals' as *;

.radio-btn-container {
  display: flex;
  gap: 8px;
}

.radio-btn-content {
  width: 100%;

  &:has(input:focus-visible) {
    @include outline;
  }

  .radio-btn-label {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-transform: uppercase;

    @extend %styled-input;
  }

  &:has(input[type='radio']:checked) {
    .radio-btn-label {
      background-color: $color-background-secondary;
      color: $color-white;
    }
  }
}
