@use '../../../scss/globals' as *;

.radio-btn-container {
  display: flex;
  gap: 8px;
}

.radio-btn-content {
  width: 100%;

  .radio-btn-label {
    width: 100%;
    display: inline-grid;
    place-content: center;
    cursor: pointer;
    text-transform: uppercase;

    @extend %styled-input;
  }

  &:has(input[type='radio']:checked) {
    .radio-btn-label {
      background-color: $color-background-secondary;
      color: $color-white;
    }
  }
}
