@use '../../../../scss/globals' as *;

.review {
  display: flex;
  position: relative;
  color: $color-warning;
}

.star {
  font-size: rem(24px);
  color: $color-gray-70;
}

.star.filled {
  color: $color-warning;
}

.half-star-right {
  transform: scaleX(-1);
  position: absolute;
  left: 20px;
  fill: $color-gray-70;
}
