@use '../../../scss/globals' as *;

.product-option-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  line-height: 0.75rem;

  &.color-list {
    .control-item {
      border: 1px solid transparent;

      .control-label {
        background-color: $color-light-gray-30;
      }
    }
  }
}
