@use '../../scss/globals' as *;

.auth {
  display: flex;
  gap: 40px;

  @include max-size($small) {
    flex-direction: column;
  }
}

.auth-container {
  width: 100%;
}

.auth-form {
  height: 100%;
  display: flex;
  flex-direction: column;

  fieldset {
    flex-grow: 1;
  }

  .form-footer {
    justify-content: flex-end;
  }
}
