@use '../../scss/globals' as *;

.auth {
  display: flex;
  gap: 40px;

  @include max-size($small) {
    flex-direction: column;
  }
}

.auth-container {
  width: 100%;
}

.auth-form {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: $page-width-small;
  margin-top: 32px;

  .auth-btn {
    display: flex;
    justify-content: flex-end;

    .btn {
      padding: 0;
      margin-block: 12px 4px;
    }
  }
}
