/* stylelint-disable selector-class-pattern */
@use '../scss/globals' as *;

.checkout-page {
  .checkout-container {
    display: grid;
    gap: 40px;
    grid-template-columns: 1fr 1fr;
  }

  .summary-list {
    margin-top: 20px;
    padding-block: 20px;
    border-block: 1px solid $color-border;
  }

  .checkout-title {
    text-transform: uppercase;
    margin-bottom: 12px;
  }
}

.my-address-list {
  &.checkout-address-list {
    display: flex;
    flex-direction: column;

    .my-address-item {
      border: 0;
      display: flex;
      justify-content: space-between;
      padding-bottom: 12px;
      border-bottom: 1px solid $color-border;

      &.add-address {
        justify-content: end;
      }
    }

    .my-address-content {
      display: flex;
      flex-direction: column;
    }

    .my-address-footer {
      padding: 0;
    }
  }
}

.payment-form {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 12px 24px;
}

.input-container {
  &:has(.card) {
    grid-column: 1 / -1;
  }

  &:has(.cardholderName) {
    grid-column: 1 / -1;
  }
}

.input-container:has(.expiryDate) {
  .form-label-container {
    grid-column: 1 / -1;
  }
}
