/* stylelint-disable selector-class-pattern */
@use '../scss/globals' as *;

.collection-page {
  .collection-page-header {
    padding: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-light-gray-20;
    border-bottom: 4px solid $color-gray-30;

    @include max-size($small) {
      border-bottom: 0;
      padding: 12px;
    }
  }

  .breadcrumbs-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
}

.collection-page-container {
  display: flex;
  gap: 20px;
  width: 100%;

  @include max-size($small) {
    flex-direction: column;
  }
}

.collection-page-content {
  width: 100%;
}

.products-heading {
  font-size: inherit;
}

.product-toolbar {
  display: flex;
  justify-content: space-between;
  margin-block: 16px;

  p {
    margin: 0;
  }
}

.product-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-top: 1px solid $color-border;
  padding-block: 20px 32px;
  margin-top: 20px;

  @include max-size($small) {
    flex-direction: column;
  }

  .product-navigation-form {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    width: max-content;

    fieldset,
    p {
      width: max-content;
      margin: 0;
    }

    .select-box-container {
      max-width: rem(120px);
    }

    .select-box__control {
      min-height: auto;
      background-color: $color-white;
      border: 1px solid $color-border-dark;
    }
  }
}
