@use '../scss/globals' as *;

.collection-page {
  .breadcrumbs-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 4px;
  }
}

.collection-page-container {
  display: flex;
  gap: 12px;
  width: 100%;
}

.collection-page-content {
  width: 100%;
}

.product-toolbar {
  display: flex;
  justify-content: space-between;
  margin-block: 8px 24px;
}

@include max-size($small) {
  .collection-page-container {
    flex-direction: column;
  }
}

.collection-page-header {
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-light-gray-20;
}
