@use '../scss/globals' as *;

.collection-page {
  .breadcrumbs-container {
    display: flex;
    justify-content: flex-end;
  }
}

.collection-page-container {
  display: flex;
  gap: 12px;
  width: 100%;
}

.collection-page-content {
  width: 100%;
}

.filter-panel {
  &.toggle-panel {
    max-width: rem(500px);
    overflow: hidden auto;
    padding: 28px;
  }

  .color-icons {
    display: flex;
    border: 1px solid transparent;
  }
}

.product-toolbar {
  display: flex;
  justify-content: space-between;
  margin-block: 8px 24px;
}

@include max-size($small) {
  .collection-page-container {
    flex-direction: column;
  }

  .collection-aside-header {
    padding: 12px;
  }
}
