@use '../scss/globals' as *;

.favorite-page {
  .product-card-list {
    @include grid-template-column(300px);
  }

  .product-card-content {
    padding-inline: 12px;
  }

  .product-card-info {
    gap: 12px;
    margin-bottom: 12px;
  }

  .favorite-panel {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 20px;
  }

  .favorite-panel-product {
    flex-grow: 1;
    display: flex;
    gap: 16px;
  }

  .favorite-item {
    flex-grow: 1;
    display: flex;
    gap: 16px;

    .favorite-item-img {
      max-width: rem(120px);
      height: rem(180px);
    }

    .favorite-item-title {
      text-transform: uppercase;
    }

    .product-price {
      justify-content: start;
      font-size: rem(20px);
    }
  }
}
