@use '../scss/globals' as *;

.favorite-page {
  .product-cart-list {
    @include grid-template-column(300px);
  }

  .product-cart-content {
    padding-inline: 12px;
  }

  .product-cart-info {
    gap: 12px;
    margin-bottom: 12px;
  }

  .favorite-panel {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 20px;
  }

  .favorite-panel-product {
    flex-grow: 1;
    display: flex;
    gap: 16px;
  }
}
