@use '../scss/globals' as *;

.my-orders-page {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .my-order-meta {
    font-family: $font-primary-semibold;
  }

  .badge {
    margin-top: 6px;
  }

  .btn-primary {
    max-width: rem(150px);
  }
}

.my-orders-page-cart {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: $border;
  padding: 20px;

  .my-order-header,
  .my-order-footer {
    display: flex;
    justify-content: space-between;
  }

  .my-order-footer {
    font-size: $font-medium;
    align-items: center;
  }
}
