@use '../scss/globals' as *;

.shop-product-page {
  .breadcrumbs-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;

    @include max-size($small) {
      justify-content: center;
    }
  }
}

.shop-product-page-container {
  display: flex;
  gap: 20px;
  width: 100%;

  @include max-size($small) {
    flex-direction: column;
  }
}

.shop-product-page-content {
  width: 100%;
}

.shop-product-banner {
  img {
    max-height: rem(476px);
  }
}

.product-toolbar {
  display: flex;
  justify-content: space-between;
  margin-block: 16px;

  p {
    margin: 0;
  }
}
