@use '../scss/globals' as *;

.order-flow {
  .in-stock-container {
    margin-block: 16px;
  }

  .shopping-cart-btn {
    margin-top: 20px;

    @include max-size($small) {
      margin: 0;
    }
  }

  .cart-info {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .cartinfo-text {
      padding-right: 4px;
    }

    a {
      text-decoration: underline;
    }
  }
}
