@use '../scss/globals' as *;

.order-flow {
  .payment-method-list {
    display: flex;
    gap: 8px;
  }

  .order-flow-info {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .order-flow-info-text {
      padding-right: 4px;
    }

    a {
      text-decoration: underline;
    }
  }

  .order-flow-title {
    margin-bottom: 0;
  }
}
