@use '../scss/globals' as *;

.order-flow {
  .shopping-cart-btn {
    margin-top: 20px;
  }

  .cart-info {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .cartinfo-text {
      padding-right: 4px;
    }

    a {
      text-decoration: underline;
    }
  }
}
