@use '../scss/globals' as *;

.single-product-container {
  display: flex;
  gap: 40px;
  margin-top: 40px;

  .single-product-header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  .single-product {
    width: 100%;
  }

  .single-product-content {
    max-width: rem(500px);
  }

  .product-discont-price {
    font-size: $font-large;
  }

  .product-img-list {
    width: 100%;

    .product-img {
      border-radius: 0;
    }
  }
}
