@use '../scss/globals' as *;

.single-product-container {
  display: flex;
  gap: 40px;
  margin-top: 40px;

  @include max-size($small) {
    flex-direction: column;
    margin-top: 16px;
    gap: 0;
  }

  .single-product {
    width: 100%;
  }

  .single-product-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .single-product-content {
    @include min-size($medium) {
      max-width: rem(500px);
    }

    p {
      margin: 0;
    }
  }

  .in-stock-container {
    display: flex;
    gap: 12px;
    margin-block: 16px;

    @include max-size($small) {
      flex-direction: column;
    }

    .btn-ghost {
      border-bottom: 1px solid currentcolor;
    }
  }

  .in-stock {
    display: flex;
    gap: 4px;
    align-items: center;
  }

  .price,
  .product-discont-price {
    font-size: $font-large;
  }

  .product-img-list {
    width: 100%;
    flex-direction: column;
    gap: 0;
  }

  .product-img-item {
    display: flex;
    justify-content: center;
  }

  .product-img {
    border-radius: 0;
  }

  .product-care-info {
    list-style: disc;
    padding-inline-start: 30px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}

.notify {
  .fieldset {
    gap: 0;
  }

  .input-container {
    margin-top: 14px;
  }
}
