@use '../scss/globals' as *;

.single-product-container {
  display: flex;
  gap: 40px;
  margin-top: 40px;
  padding-right: 20px;

  @include max-size($small) {
    flex-direction: column;
    margin-top: 16px;
    gap: 0;
  }

  .single-product-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .single-product-content {
    @include max-size($small) {
      margin-bottom: 80px;
    }

    @include min-size($medium) {
      width: 100%;
      max-width: rem(500px);
    }
  }

  .rating-info {
    font-size: 10px;
  }

  .product-price {
    font-size: $font-large;
  }

  .product-img-list {
    flex-direction: column;
    gap: 0;
    width: 100%;
    max-width: rem(700px);
  }

  .product-img-item {
    display: flex;
    justify-content: center;
    position: relative;
  }

  .product-img {
    border-radius: 0;
    max-height: rem(820px);
  }

  .product-care-info {
    list-style: disc;
    padding-inline-start: 30px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}

.notify {
  .fieldset {
    gap: 0;
  }

  .input-container {
    margin-top: 14px;
  }
}
