@use '../../scss/globals' as *;

.modal {
  border: 0;
  overflow-x: clip;
  border-radius: 4px;
  width: auto;
  display: flex;
  flex-direction: column;
  z-index: 10;
  padding: 20px 24px;

  &.animate-top-center {
    top: 30%;
  }

  @include max-size($small) {
    border-radius: 0;
    position: fixed;
    height: 100%;
    width: 100%;

    &.animate-top-right {
      top: 0;
    }
  }

  .control-list {
    .control-item {
      &:has(input:focus) {
        @include outline;
      }
    }
  }

  .radio-btn-content {
    &:has(input:focus) {
      @include outline;
    }
  }

  &.modal-sm {
    max-width: rem(400px);

    @include max-size($medium) {
      min-width: 90%;
    }
  }

  &.modal-md {
    width: 50%;

    @include max-size($medium) {
      min-width: 90%;
    }
  }

  &.modal-lg {
    width: 90%;

    @include max-size($large) {
      min-width: 100%;
    }
  }

  .modal-header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid $color-border;
  }

  .modal-title {
    margin-bottom: 12px;
  }

  .modal-info {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
