@use '../../scss/globals' as *;

.modal {
  border: 0;
  overflow-x: clip;
  border-radius: $border-radius;
  position: fixed;
  z-index: 150;
  padding: 12px;
  margin: 0;
  top: 10%;
  left: 50%;
  gap: 4px;
  width: 100%;
  background-color: $color-white;
  box-shadow: $box-shadow;
  opacity: 0;
  transform: translate(-50%, -100%);
  display: grid;
  grid-template-rows: auto minmax(0, 1fr);
  max-height: calc(100dvh - 100px);

  .modal-header {
    border-bottom: $border;
    grid-row: 1;
  }

  .modal-content {
    grid-row: 2;
    min-height: 0;
    overflow: hidden auto;
    padding: 12px;
  }

  .modal-title {
    margin-bottom: 12px;
  }

  .change-address-modal {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-bottom: 32px;

    label {
      padding: 14px 8px;
    }
  }

  .change-address-title {
    font-family: $font-primary-semibold;
    text-transform: uppercase;
    padding-block: 12px 4px;
  }

  &.modal-small {
    max-width: rem(400px);

    @include max-size($small) {
      max-width: 92%;
    }
  }

  &.modal-medium {
    max-width: rem(752px);

    @include max-size($small) {
      max-width: 92%;
    }
  }

  &.modal-large {
    width: 90%;

    @include max-size($small) {
      min-width: 100%;
    }
  }
}
