@use '../../../scss/globals' as *;

$thumb-size: 24px;
$thumb-border: 3px;
$focus-ring: 0 0 0 3px rgb(0 123 255 / 25%);
$color-range-primary: $color-blue-30;

@mixin thumb-base {
  width: $thumb-size;
  height: $thumb-size;
  background-color: $color-white;
  border: $thumb-border solid $color-range-primary;
  border-radius: 50%;
  cursor: grab;
  pointer-events: auto;
  box-shadow: $box-shadow;
  transition: all 0.2s ease;
}

@mixin thumb-hover {
  transform: scale(1.2);
  box-shadow: $box-shadow-input;
}

@mixin thumb-active {
  cursor: grabbing;
  background-color: $color-gray-20;
  transform: scale(1.1);
}

@mixin thumb-focus {
  outline: 2px solid $color-range-primary;
  outline-offset: 2px;
  box-shadow: $focus-ring;
}

.dual-range {
  position: relative;
  padding-block-start: 36px;

  .range-label {
    position: absolute;
    top: 0;
    white-space: nowrap;
    pointer-events: none;
    box-shadow: $box-shadow;
    padding: 8px;
    border-radius: 8px;
    background-color: $color-white;

    &::after {
      content: '';
      bottom: -6px;
      left: 50%;
      transform: translateX(-50%);

      @include triangle;
    }

    &.range-label-max {
      transform: translateX(-50%) translateX(-0.6rem);
    }

    &.range-label-min {
      transform: translateX(-50%) translateX(0.3rem);
    }
  }

  .dual-range-container {
    position: relative;
    display: flex;
    align-items: center;
    margin-block: 20px;
  }

  .slider-track,
  .slider-track-filled {
    position: absolute;
    height: 8px;
    border-radius: 4px;
    pointer-events: none;
  }

  .slider-track {
    width: 100%;
    background-color: $color-gray-20;
  }

  .slider-track-filled {
    background-color: $color-range-primary;
  }

  .range-slider-input {
    position: absolute;
    width: 100%;
    appearance: none;
    background-color: transparent;
    pointer-events: none;
    outline: none;
    margin: 0;
    padding: 0;

    &::-webkit-slider-track,
    &::-moz-range-track {
      background-color: transparent;
      border: none;
      height: 0;
    }

    &::-webkit-slider-thumb {
      appearance: none;

      @include thumb-base;
    }

    &::-moz-range-thumb {
      @include thumb-base;
    }

    &:focus-visible {
      &::-webkit-slider-thumb {
        @include thumb-focus;
      }

      &::-moz-range-thumb {
        @include thumb-focus;
      }
    }

    &:active {
      &::-webkit-slider-thumb {
        @include thumb-active;
      }

      &::-moz-range-thumb {
        @include thumb-active;
      }
    }

    &::-webkit-slider-thumb:hover {
      @include thumb-hover;
    }

    &::-moz-range-thumb:hover {
      @include thumb-hover;
    }
  }
}
