@use '../../scss/globals' as *;

.dropdown-item {
  padding: 8px;
  border-bottom: 1px solid $color-border;
  border-left: 6px solid transparent;
  min-height: rem(52px);
  display: flex;

  &:last-child {
    border-bottom: 0;
  }

  &:hover,
  &.active {
    border-color: $color-blue-25;
    background-color: $color-background;
  }

  .btn {
    display: flex;
    gap: 8px;
    justify-content: space-between;
    width: 100%;
    padding-block: 0;
    min-height: auto;
  }

  .btn-ghost {
    &:hover,
    &:focus-visible {
      outline: transparent;
    }
  }
}
