@use '../../scss/globals' as *;

.dropdown-item {
  padding: 8px;
  border-bottom: 1px solid $color-border;
  border-left: 6px solid transparent;
  min-height: rem(52px);
  display: flex;
  min-width: rem(200px);

  @include transition;

  &:last-child {
    border-bottom: 0;
  }

  &:has(.btn.active),
  &:has(.btn:hover) {
    border-color: $color-blue-25;
    background-color: $color-background;
  }

  .btn-with-icon {
    justify-content: space-between;
  }
}
