/* stylelint-disable selector-class-pattern */
@use '../../scss/globals' as *;

.date-picker-container {
  button {
    font-family: $font-primary;
  }

  .rdp-caption_label {
    z-index: 0;
    text-transform: capitalize;
  }

  .rdp-month {
    border: 1px solid $color-gray-70;
  }

  .rdp-today {
    button {
      color: $color-gray-70;
      border: 2px solid $color-gray-70;
      border-radius: 4px;
    }
  }

  .rdp-month_caption {
    padding: 10px;
    font-size: $font-medium;
    font-weight: normal;
    border-bottom: 1px solid $color-gray-70;
  }

  .rdp-weekday {
    text-transform: capitalize;
  }

  .rdp-day_button {
    border-radius: 4px;
    font-size: $font-small;

    &:disabled {
      cursor: not-allowed;
    }

    &:focus-visible {
      outline: transparent;
      color: $color-secondary;
      background-color: $color-gray-70;
    }
  }

  .rdp-selected .rdp-day_button {
    border: 0;
    background-color: $color-gray-70;
    color: $color-secondary;
    font-weight: normal;
  }

  svg {
    fill: $color-primary;
    width: rem(20px);
  }
}
