@use '../../../../scss/globals' as *;

.payment-summary {
  background-color: $color-background;
  padding: 20px;
  border-radius: $border-radius;
}

.payment-summary-list {
  display: flex;
  flex-direction: column;
  gap: 12px;

  @include max-size($small) {
    margin-bottom: 32px;
  }
}

.payment-summary-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  font-size: $font-medium;
  text-wrap: nowrap;

  &.discount {
    color: $color-discount;
  }

  &.summary-total {
    border-top: 1px solid $color-border;
    padding-top: 12px;
    text-transform: uppercase;
    font-size: rem(20px);
  }

  .payment-summary-info {
    font-family: $font-primary-bold;
  }

  &.summary-discount {
    .payment-summary-info {
      color: $color-danger;
    }
  }
}
