@use '../../../scss/globals' as *;

.address-list {
  @include grid-template-column;

  gap: 20px;
}

.address-item {
  border: 1px solid $color-gray-40;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.address-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
  gap: 12px;
}

.address-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 32px;
  padding-bottom: 12px;

  p {
    margin: 0;
  }
}

.address-footer {
  display: flex;
  align-items: flex-end;
  gap: 32px;
  justify-content: flex-end;
  padding: 12px;
}

.address-modal {
  .address-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;

    .input-container {
      grid-column: 1 / -1;

      &:has(input[name='zipCode'], input[name='city']) {
        grid-column: span 1;
      }
    }
  }
}

.address-label {
  text-transform: uppercase;
  font-size: $font-small;
}

.address-title {
  font-family: $font-primary-bold;
  font-size: $font-medium;
}
