@use '../../scss/globals' as *;

.carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 24%;
  overflow-x: auto;
  width: fit-content;
  margin-bottom: 12px;
  anchor-name: --carousel;
  scroll-snap-type: x mandatory;
  scroll-marker-group: after;
  scroll-behavior: smooth;

  .carousel-item {
    scroll-snap-align: center;
    scroll-snap-stop: always;

    img {
      width: 100%;
      height: rem(500px);
      object-fit: cover;
      object-position: top;
    }
  }

  // Scroll Marker
  .carousel-item::scroll-marker {
    content: ' ';
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: #366894;
    display: grid;
  }

  /* stylelint-disable-next-line selector-pseudo-class-no-unknown */
  .carousel-item::scroll-marker:target-current {
    background: red;
  }

  &::scroll-marker-group {
    display: flex;
    gap: 12px;
    justify-content: center;
  }

  // Scroll Buttons
  &::scroll-button(*) {
    position: fixed;
    position-anchor: --carousel;
  }

  &::scroll-button(left) {
    content: '⬅' / 'Scroll Left';
    position-area: center left;
  }

  &::scroll-button(right) {
    content: '⮕' / 'Scroll Right';
    position-area: center right;
  }
}
