@use '../../../scss/globals/variables' as *;
@use '../../../scss/globals/functions' as *;

.summary-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;

  .label-skeleton {
    width: rem(140px);
    height: rem(15px);
  }

  .value-skeleton {
    width: rem(70px);
    height: rem(15px);
  }
}

.skeleton-summary-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 32px;
  margin-top: 16px;
  border-top: $border;

  .skeleton {
    height: rem(20px);
  }

  .label-skeleton {
    width: rem(60px);
  }

  .value-skeleton {
    width: rem(100px);
  }
}
