@use '../../../scss/globals/variables' as *;

.skeleton-summary-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 32px;
  margin-top: 16px;
  border-top: $border;

  .skeleton {
    height: 20px;
  }

  .label-skeleton {
    width: 60px;
  }

  .value-skeleton {
    width: 100px;
  }
}
