@use '../../scss/globals' as *;

.modal {
  border: 0;
  overflow-x: clip;
  border-radius: $border-radius;
  width: auto;
  display: flex;
  flex-direction: column;
  z-index: 150;
  padding: 20px 24px;
}
