@use '../../../../scss/globals' as *;

.review-display {
  .star.filled {
    color: $color-yellow;
  }
}

.review-form {
  .control-list {
    .control-item {
      &:has(input[type='radio']:checked) {
        border: none;
      }
    }

    .control-label {
      display: inline;
    }
  }

  .reviews {
    svg {
      @include transition($time: 0.2s);

      &.filled {
        color: $color-yellow;
      }
    }
  }

  .review-textbox {
    max-height: 0;
    opacity: 0;
    transform: translateY(0);
    transition: max-height 0.4s ease;
    overflow: clip;

    &.visible {
      @include animation($name: textbox-reveal, $duration: 1s);
    }

    .form-label-container {
      margin-block: 16px 4px;
    }
  }
}

@keyframes textbox-reveal {
  0% {
    opacity: 0;
    transform: translateY(0);
    max-height: 0;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
    max-height: 999px;
  }
}
