@use '../../../scss/globals' as *;

$switch-height: 25px;
$thumb-size: 20px;

.toggle-switch-list {
  position: relative;
  gap: 12px;
  display: flex;
  flex-direction: column;

  .switch {
    display: flex;
    width: 47px;
    height: $switch-height;
    background-color: $color-gray-40;
    border-radius: 99px;
    cursor: pointer;

    @include transition;

    &::after {
      content: '';
      position: absolute;
      top: calc(($switch-height - $thumb-size) / 2);
      left: 2px;
      width: $thumb-size;
      height: $thumb-size;
      background-color: $color-white;
      border-radius: 50%;

      @include transition;
    }

    span {
      position: absolute;
      left: 52px;
      top: 3px;
    }
  }

  .toggle-switch-item {
    position: relative;
  }

  .toggle-switch-item:has(input:checked) {
    .switch {
      background-color: $color-background-secondary;

      &::after {
        left: 25px;
      }
    }
  }

  .toggle-switch-item:has(input:focus-visible) {
    .switch {
      box-shadow: $box-shadow-input;
    }
  }
}
