@use '../../../scss/globals' as *;

.toggle {
  position: relative;
  display: inline-block;
}

.toggle-input {
  display: none;
}

.toggle-label {
  display: block;
  width: 60px;
  height: 30px;
  background-color: $color-background-secondary;
  border-radius: 99px;
  cursor: pointer;

  @include transition;

  &::after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 26px;
    height: 26px;
    background-color: #fff;
    border-radius: 50%;

    @include transition;
  }
}

.toggle-input:checked + .toggle-label {
  background-color: $color-gray-40;

  &::after {
    left: 32px;
  }
}
