@use '../../../scss/globals' as *;

.toggle-switch-list {
  position: relative;
  display: inline-block;
}

.toggle-switch-item {
  position: relative;
}

.toggle-switch-input {
  display: none;
}

.toggle-switch-label {
  display: block;
  width: 47px;
  height: 25px;
  background-color: $color-gray-40;
  border-radius: 99px;
  cursor: pointer;

  @include transition;

  &::after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;

    @include transition;
  }
}

.toggle-switch-text {
  position: absolute;
  left: 51px;
  top: 3px;
}

.toggle-switch-item:has(input:checked) {
  .toggle-switch-label {
    background-color: $color-background-secondary;

    &::after {
      left: 25px;
    }
  }
}
