@use '../../scss/globals' as *;

.my-account {
  padding-inline: 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;

  &.modal.animate-top-center {
    top: 15%;
  }

  .label-value-grid {
    .tooltip {
      display: flex;
      gap: 4px;
    }

    .text {
      justify-content: flex-start;
    }
  }
}

.my-address-list {
  @include grid-template-column(250px);

  gap: 12px;
  grid-auto-rows: 17.5rem auto;
}

.my-address-item {
  place-content: center;
  grid-row: span 2;
  display: grid;
  border: 1px solid $color-gray-40;
}

.my-address-title {
  font-family: $font-primary-bold;
  font-size: rem(16px);
  margin: 0;
}
