.nav-list {
  display: flex;
  gap: 18px;

  .nav-item {
    text-decoration: none;
    color: #793e5f;
    text-transform: uppercase;
    padding: 8px;

    &:hover,
    &.active {
      color: #66606d;
      padding-bottom: 4px;
      border-bottom: 2px solid currentcolor;
    }
  }
}
