@use '../../scss/globals' as *;

// Main nav
.main-nav {
  .nav-item {
    padding: 8px;
    text-transform: uppercase;
    border: 2px solid transparent;

    &.active {
      color: $color-gray-70;
      border-bottom: 2px solid currentcolor;
    }
  }
}

// Admin nav
.aside-nav {
  .nav-item {
    &.active {
      background-color: $color-background;
    }
  }

  .btn-ghost {
    position: absolute;
    z-index: 3;
    background-color: $color-gray-40;
    height: rem(60px);
    padding: 2px;
    top: 50%;
    transform: translate(-50%);
    right: -21px;
  }
}

.nav-list {
  display: flex;
  gap: 18px;

  .nav-item {
    &:hover {
      color: $color-link-hover;
    }

    &:focus-visible {
      @include outline;
    }
  }
}

// Shared nav
.nav-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden auto;

  .nav {
    flex-grow: 1;
  }

  .nav-list {
    display: flex;
    flex-direction: column;
    gap: 0;

    .nav-item {
      font-size: $font-medium;
      width: 100%;
      display: flex;
      gap: 20px;
      padding: 20px;

      @include transition;
    }
  }
}
