.table-container {
  width: 100%;
  max-width: 800px;
  height: 400px;
  overflow: auto;
  border: 1px solid #ccc;
  position: relative;
}

.fixed-table {
  width: 100%;
  border-collapse: collapse;
}

.fixed-table th,
.fixed-table td {
  padding: 8px;
  border: 1px solid #ccc;
  background: white;
  white-space: nowrap;
}

.fixed-table thead th {
  position: sticky;
  top: 0;
  background: #f4f4f4;
  z-index: 2;

  &:first-child {
    z-index: 5;
  }
}

.sticky-col {
  position: sticky;
  left: 0;
  background: #fff;
  z-index: 3;
  box-shadow: 2px 0 3px rgb(0 0 0 / 10%);
}
