table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  padding: 1rem;
}

th {
  background-color: #ddd;
}

tr {
  &:nth-of-type(2n) {
    background-color: #f5efef;
  }
}

@media (width <=650px) {
  th {
    display: none;
  }

  td {
    display: block;
  }

  td::before {
    content: attr(data-cell) ': ';
    font-weight: bold;
    text-transform: capitalize;
  }
}
