@use '../../../scss/globals' as *;

.table-grid-icons {
  display: flex;
  gap: 8px;
  justify-content: flex-end;

  .btn-ghost {
    padding: 0;
    color: $color-gray-20;

    &.is-active {
      color: $color-gray-40;
    }
  }
}
