@use '../../scss/globals' as *;

.breadcrumbs-container {
  width: 100%;
}

.breadcrumbs {
  color: $color-gray-70;
  display: flex;
  font-size: $font-medium;

  .breadcrumbs-item {
    display: flex;
    align-items: center;
  }

  svg {
    stroke: currentcolor;
  }

  a {
    color: currentcolor;
    display: flex;

    &:hover {
      color: $color-gray-60;
    }
  }

  [aria-current] {
    color: $color-gray-60;
  }
}
