@use '../../../../scss/globals' as *;

.my-order-detail-list {
  display: flex;
  gap: 20px;

  @include max-size($medium) {
    flex-direction: column;
  }

  .text-uppercase {
    font-family: $font-primary-semibold;
  }

  p {
    margin: 0;
  }
}
