@use '../../../../scss/globals' as *;

.order-details-content {
  display: flex;
  flex-direction: column;
  gap: 40px;

  .order-details-info-container {
    display: flex;
    gap: 32px;

    @include max-size($small) {
      flex-direction: column;
    }

    .order-details-info {
      flex: 1;
    }
  }

  .order-detail-list {
    display: flex;
    gap: 20px;

    @include max-size($medium) {
      flex-direction: column;
    }

    .text-uppercase {
      font-family: $font-primary-semibold;
    }

    p {
      margin: 0;
    }
  }

  .order-detail-item {
    display: flex;
    flex-direction: column;
    gap: 4px;

    @include max-size($small) {
      flex-direction: row;
    }
  }

  .summary-items {
    flex: 1;
  }
}
