@use '../../scss/globals' as *;

.tooltip {
  padding: 8px;
}

.tooltip-content {
  max-width: rem(200px);

  .footer {
    margin-top: 4px;

    .btn {
      min-height: auto;
      font-size: $font-medium;
      padding: 8px;
    }
  }
}
