@use '../../scss/globals' as *;

.tooltip {
  display: flex;
  justify-content: flex-end;
}

.tooltip-container {
  padding: 8px;
  box-shadow: $box-shadow;
  background-color: $color-light-gray-10;
  border-radius: 4px;
  z-index: 2;
}

.arrow {
  visibility: hidden;
  background: inherit;

  &::before {
    visibility: visible;
    content: '';
    transform: rotate(45deg);
    position: absolute;
    width: 8px;
    height: 8px;
    background: inherit;
  }
}

.tooltip-container[data-popper-placement^='top'] > .arrow {
  bottom: 4px;
}

.tooltip-container[data-popper-placement^='bottom'] > .arrow {
  top: 4px;
}

.tooltip-container[data-popper-placement^='left'] > .arrow {
  right: 4px;
}

.tooltip-container[data-popper-placement^='right'] > .arrow {
  left: 4px;
}

.dropdown-content-footer {
  display: flex;
  gap: 4px;

  .btn {
    min-height: auto;
    font-size: rem(14px);
    padding: 8px;
  }
}

.tooltip-content {
  max-width: rem(200px);
}
