@use '../../../scss/globals' as *;

.size-list {
  border-inline-start: 1px solid $color-border;

  .control-item {
    @extend %stacked-item-border;
  }
}

.control-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  .control-label {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  &.color-list {
    gap: 12px;

    .control-item {
      border: 1px solid $color-border;

      .control-label {
        background-color: $color-light-gray-30;
      }
    }
  }

  .control-item {
    &:has(input[type='radio']:checked) {
      border-color: $color-gray-80;
    }

    &:has(input:focus-visible) {
      @include outline;
    }

    &:has(input:disabled) {
      .control-label {
        pointer-events: none;

        @extend %disabled-item;
      }
    }
  }
}
