@use '../../../scss/globals' as *;

.table-filter-popup {
  &.popup-container {
    background-color: $color-light-gray-20;
    padding: 20px 16px;

    &:has(.control-list) {
      padding: 0;
    }
  }

  .fieldset {
    margin: 0;
  }

  .input-container {
    input {
      background-color: $color-white;
    }
  }
}
