@use '../../../scss/globals' as *;

.table-search-input {
  .popup-container {
    padding: 0;
    max-width: rem(20px);
  }

  .input-container {
    .table-search {
      background-color: $color-white;
      height: rem(48px);
    }
  }
}
