@use '../../../scss/globals' as *;

.table-filter-popup {
  &.popup-container {
    background-color: $color-light-gray-20;
    padding: 20px 16px;

    &:has(.radio-button-list) {
      padding: 0;
      background-color: $color-white;
      min-width: rem(200px);
    }

    .radio-button-list {
      gap: 0;

      .radio-button-item {
        border-bottom: $border;
        padding: 12px;
      }
    }
  }

  .number-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .input-container {
    input {
      background-color: $color-white;
    }
  }
}
