@use './globals' as *;

.admin-card-container {
  &.two-col {
    display: grid;
    grid-template-columns: 1fr 0.7fr;

    @include max-size($mini) {
      grid-template-columns: repeat(auto-fit, minmax(rem(235px), 1fr));

      .card-top-line {
        display: none;
      }
    }
  }

  &.three-col {
    display: grid;
    grid-template-columns: 1fr 1fr 0.8fr;

    @include max-size($small) {
      grid-template-columns: repeat(auto-fit, minmax(rem(400px), 1fr));

      .separator,
      .card-top-line {
        display: none;
      }
    }
  }

  .btn {
    min-height: rem(28px);
  }

  .separator {
    height: 100px;
    min-height: rem(258px);
    width: 1px;
    position: absolute;
    top: 50px;
    left: 7px;
    background-color: $color-gray-60;
  }

  .admin-card-title {
    text-wrap: balance;

    @include min-size($medium) {
      display: flex;
      justify-content: flex-end;
    }
  }

  .footer {
    margin: 0;
    padding: 8px;
    padding-bottom: 0;

    @include max-size($small) {
      padding: 0;
      padding-top: 12px;
    }

    @include between-size($small, $medium) {
      grid-column: span 3;
    }
  }
}

.admin-card {
  background-color: $color-white;
  padding-top: 42px;

  .badge-container {
    display: flex;
    gap: 8px;
  }

  @include max-size($small) {
    padding-top: 0;
  }

  .product-img-list {
    .product-img {
      width: 100%;
      height: rem(124px);
      object-fit: cover;
    }
  }

  .card-top-line {
    display: flex;
    height: 4px;
    width: 100%;
    background-color: $color-gray-80;
  }

  .admin-card-content {
    min-height: rem(252px);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 8px;

    .status-message-title {
      margin-bottom: 4px;
    }

    @include max-size($small) {
      min-height: auto;
      gap: 12px;

      p {
        margin: 0;
      }
    }
  }

  &.center {
    .admin-card-content {
      padding: 24px;
      gap: 12px;
    }
  }

  &.right {
    background-color: $color-gray-20;
    padding-right: 12px;
    padding-top: 40px;
    grid-row: span 2;

    p {
      margin: 0;
    }

    @include max-size($small) {
      padding: 0;
    }

    .admin-card-content {
      padding-left: 20px;
    }

    .card-top-line {
      height: 6px;
    }

    .admin-card-date {
      text-align: right;
    }

    .btn {
      max-width: fit-content;
      padding: 0 32px;
      margin-top: 8px;
    }
  }
}
