@use './globals' as *;

.admin-card-container {
  margin-block: 30px;

  &.two-col {
    display: grid;
    grid-template-columns: 1fr 0.8fr;

    @include max-size($small) {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
  }

  &.three-col {
    display: grid;
    grid-template-columns: 1fr 1fr 0.8fr;

    @include max-size($small) {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
  }

  .btn {
    min-height: rem(30px);
  }

  .separator {
    height: 100px;
    width: 1px;
    position: absolute;
    top: 30%;
  }

  .admin-card-title {
    margin: 0;
    width: 100%;
  }

  .footer {
    padding: 0 28px;
    margin: 0;
  }
}

.admin-card {
  background-color: $color-white;
  padding-top: 42px;

  .card-top-line {
    display: flex;
    height: 4px;
    width: 100%;
    background-color: $color-gray-80;
  }

  .admin-card-heading {
    display: flex;
  }

  .admin-card-content {
    min-height: rem(252px);
    padding: 12px 28px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &.card-right {
    background-color: $color-gray-20;
    padding-right: 12px;
    padding-top: 40px;
    grid-row: span 2;

    .card-top-line {
      height: 6px;
    }

    .admin-card-date {
      text-align: right;
    }

    .admin-card-title {
      display: flex;
      justify-content: flex-end;
    }

    .btn {
      max-width: fit-content;
      padding: 0 32px;
      margin-top: 8px;
    }
  }
}
