@use './globals' as *;

* {
  box-sizing: border-box;

  $color-background: $color-background;
  $color-foreground: $color-gray-30;

  @include min-size($small) {
    ::-webkit-scrollbar {
      width: 8px;
      height: 8px;
    }

    ::-webkit-scrollbar-track {
      background-color: $color-background;
      border-radius: 2px;
    }

    ::-webkit-scrollbar-thumb {
      background-color: $color-foreground;
      border-radius: 4px;
    }

    @supports not selector(::-webkit-scrollbar) {
      scrollbar-width: thin;
      scrollbar-color: $color-foreground $color-background;
    }
  }
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-size: $font-small;
  color: $color-primary;
  letter-spacing: rem(0.5px);
  font-family: $font-primary;
}

h1,
h2 {
  margin: 0;
  font-weight: normal;
}

h1 {
  font-family: $font-secondary;
  font-size: clamp(rem(20px), $clamp-val, $font-large);
  letter-spacing: rem(3px);
  display: flex;
  align-items: center;
}

h2 {
  font-size: rem(20px);
}

h3 {
  font-family: $font-primary-bold;
  font-size: $font-small;
  font-weight: normal;
  margin: 0;
  margin-bottom: 4px;
}

a {
  text-decoration: none;
  color: $color-dust-red-20;

  &:focus-visible {
    outline: 2px solid currentcolor;
  }
}

a:not(.btn) {
  @include transition;

  &:hover {
    color: $color-gray-60;
  }

  &::after {
    content: '';
    inset: -10px;
  }
}

img {
  max-width: 100%;
  border-radius: 4px;
  display: block;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-container {
  margin: 0;
  height: 100%;
}

.container {
  max-width: rem(1800px);
  margin: 0 auto;
  padding-inline: 20px;
  width: 100%;
}

.more-link {
  display: flex;
  gap: 8px;
  align-items: center;

  &:focus-visible {
    @include outline(currentcolor);
  }
}
