@use './globals' as *;

button[aria-disabled='true'] {
  pointer-events: none;
  background-color: $color-background;
  color: $color-gray-40;
  border-color: $color-border;
}

a[class^='btn-'],
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: $font-primary;
  font-size: rem(16px);
  font-weight: normal;
  color: $color-white;
  outline: transparent;
  padding: 16px;
  border-radius: 4px;
  width: 100%;
  border: 1px solid currentcolor;
  cursor: pointer;
  min-height: rem(60px);

  @include max-size($medium) {
    font-size: rem(16px);
  }

  @include transition;

  &::after {
    content: '';
    position: absolute;
    top: -9%;
    left: -2%;
    width: 104%;
    height: 124%;
    min-width: 3rem;
    min-width: rem(48px);
    min-height: rem(48px);
  }
}

.btn-primary {
  background-color: #473f4a;
  color: #f4f4f5;

  &:hover {
    background-color: #020101;
  }

  &:focus-visible {
    @include outline($color-primary-btn-hover);

    border: 1px solid $color-white;
  }
}

.btn-secondary {
  background-color: transparent;
  color: #2a3439;
  border: 1px solid #473f4a;

  &:hover {
    color: #b5b5ba;
  }

  &:focus-visible {
    @include outline(currentColor);

    border: 1px solid $color-white;
  }
}

.btn-danger {
  background-color: $color-danger;

  &:hover {
    background-color: $color-red-light;
  }
}

.btn-ghost {
  background-color: transparent;
  color: #2a3439;
  border: 0;
  width: fit-content;
  min-height: auto;

  svg {
    stroke: currentcolor;
  }

  &:focus-visible {
    @include outline(currentcolor);
  }
}
