@use './globals' as *;

button[aria-disabled='true'] {
  pointer-events: none;
  background-color: $color-background;
  color: $color-light-gray-10;
  border-color: $color-border;
}

a[class^='btn-'],
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: $font-primary;
  font-size: rem(16px);
  font-weight: normal;
  outline: transparent;
  padding: 16px;
  border-radius: 4px;
  width: 100%;
  border: 1px solid currentcolor;
  cursor: pointer;
  min-height: rem(60px);
  letter-spacing: rem(0.5px);

  @include transition;

  &::after {
    content: '';
    position: absolute;
    inset: -10px;
  }
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.btn-primary {
  background-color: $color-main;
  color: $color-light-gray-30;

  &:hover {
    background-color: $color-gray-90;
  }

  &:focus-visible {
    @include outline($color-main);

    border: 1px solid $color-white;
  }
}

.btn-secondary {
  background-color: $color-white;
  color: $color-main;
  border: 1px solid $color-border;

  &:hover {
    color: $color-light-gray-10;
    background-color: $color-border;
    border: 1px solid $color-light-gray-10;
  }

  &:focus-visible {
    @include outline(currentColor);

    border: 1px solid $color-white;
  }
}

.btn-default {
  border-color: $color-border;
  background-color: $color-light-gray-30;
  font-size: 0.875rem;
  padding: 8px 32px;
  min-height: auto;
  width: auto;

  &:hover {
    background-color: $color-gray-30;
  }

  &:focus-visible {
    @include outline(currentColor);

    border: 1px solid $color-white;
  }
}

.btn-danger {
  background-color: $color-red-15;
  color: $color-white;

  &:hover {
    background-color: $color-red;
  }
}

.btn-ghost {
  background-color: transparent;
  color: $color-main;
  border: 0;
  width: fit-content;
  min-height: auto;
  padding: 0;

  svg {
    stroke: currentcolor;
  }

  &:focus-visible {
    @include outline(currentcolor);
  }
}
