@use './globals' as *;

.footer {
  display: flex;
  gap: 12px;
  margin-top: 12px;
}

.more-link {
  gap: 8px;
  align-items: center;
}

.btn-close {
  position: absolute;
  right: 9px;
  top: 12px;
}

.option-box {
  width: rem(24px);
  height: rem(24px);
  border: 1px solid transparent;
}

.display-controls {
  display: flex;
  gap: 8px;
  justify-content: flex-end;
}

.missing-img {
  width: rem(200px);
  height: rem(112px);
  background: $color-light-gray-30;
  display: inline-grid;
  place-content: center;
  border-radius: 4px;
  margin-bottom: 12px;

  svg {
    fill: $color-gray-40;
    stroke: $color-gray-40;
  }
}

.option-group-title {
  .title {
    margin-bottom: 4px;
    font-size: 0.875rem;
  }
}

.in-stock {
  display: flex;
  gap: 4px;
  align-items: center;
}

.price-inputs {
  @include max-size($large) {
    flex-direction: column;
  }
}
