@use './globals' as *;

.logo {
  svg {
    height: rem(24px);
    width: rem(260px);
  }
}

.footer {
  display: flex;
  gap: 12px;
  margin-top: 12px;
}

.more-link {
  gap: 8px;
  align-items: center;
}

.btn-close {
  position: absolute;
  right: 9px;
  top: 12px;
}

.color-item {
  border: 1px solid transparent;
  display: flex;
}

.display-controls {
  display: flex;
  gap: 8px;
  justify-content: flex-end;
}

.product-img-list {
  display: flex;
  gap: 4px;
  margin-bottom: 12px;

  @include max-size($small) {
    margin: 0;
  }
}

.badge-container {
  display: flex;
  gap: 8px;
}

.size-list {
  border-inline-start: 1px solid $color-border;

  .control-item {
    @extend %stacked-item-border;
  }
}

.label-value-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  .text {
    display: flex;
    justify-content: flex-end;
  }
}
