@use './globals' as *;

.logo {
  svg {
    height: rem(24px);
    width: rem(260px);
  }
}

.footer {
  display: flex;
  gap: 12px;
  margin-top: 12px;
}

.more-link {
  gap: 8px;
  align-items: center;
}

.btn-close {
  position: absolute;
  right: 9px;
  top: 12px;
}

.color-item {
  border: 1px solid transparent;
  display: flex;
}

.display-controls {
  display: flex;
  gap: 8px;
  justify-content: flex-end;
}

.missing-img {
  width: rem(200px);
  height: rem(112px);
  background-color: $color-light-gray-30;
  display: inline-grid;
  place-content: center;
  border-radius: 4px;
  margin-bottom: 12px;

  svg {
    fill: $color-gray-40;
    stroke: $color-gray-40;
  }
}

.option-group-title {
  .title {
    margin-bottom: 4px;
    font-size: 0.875rem;
  }
}

.price-inputs {
  @include max-size($large) {
    flex-direction: column;
  }
}

.product-img-list {
  display: flex;
  gap: 4px;
  margin-bottom: 12px;

  @include max-size($small) {
    margin: 0;
  }
}

.badge {
  width: fit-content;
  border-radius: 50px;
  background-color: $color-badge-default;
  color: $color-light-gray-30;
  display: flex;
  padding: 2px 12px;
  align-items: center;
  gap: 8px;

  .btn-ghost {
    color: currentcolor;
  }

  &.scheduled {
    background-color: $color-badge-scheduled;
  }

  &.inactive {
    background-color: $color-badge-inactive;
  }

  &.discount {
    background-color: $color-dust-red-30;
    padding-block: 8px;
    border-radius: 4px;
  }
}

.badge-container {
  display: flex;
  gap: 8px;
}

.size-list {
  border-inline-start: 1px solid $color-border;

  .control-item {
    @extend %stacked-item-border;
  }
}

.page-card {
  max-height: 78lvh;
  overflow: auto;
  overflow-x: clip;
  background-color: $color-white;
  border-radius: 4px;
  box-shadow: $box-shadow;
  width: 100%;
  padding: 24px;

  @include max-size($medium) {
    max-height: 100%;
    padding: 12px;
  }
}

.label-value-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  .text {
    display: flex;
    justify-content: flex-end;
  }

  .tooltip-container {
    display: flex;
    gap: 4px;
  }

  .popup-container {
    max-width: rem(280px);
  }
}
