@use './globals' as *;

.control-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  &.primary {
    gap: 8px;

    .control-item {
      height: $input-height;
      background-color: $color-input-background;
      border-radius: $border-radius;
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  input[type='radio'] {
    appearance: none;
    clip-path: inset(50%);
    position: absolute;
  }

  .control-label {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .control-item {
    &:has(input:checked) {
      background-color: $color-background-secondary;
      color: $color-white;
    }

    &:has(input:focus-visible) {
      @include outline;
    }

    &:has(input:disabled) {
      .control-label {
        pointer-events: none;

        @extend %disabled-item;
      }
    }
  }
}
