@use './globals' as *;

.error {
  display: flex;
  gap: 24px;
  align-items: center;
  color: currentcolor;
  flex-direction: column;

  .btn-secondary {
    color: currentcolor;
  }

  .error-info {
    margin: 0;
  }

  &.error-boundary {
    .emoji {
      max-width: rem(120px);
    }
  }
}

.error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100dvh;
  padding: 20px;

  .error {
    flex-direction: column;
  }
}
