@use './globals' as *;

// Remove autofill
:-webkit-autofill,
:-webkit-autofill:hover,
:-webkit-autofill:focus {
  transition: background-color 5000s ease-in-out 0s;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  appearance: textfield;
}

input[type='radio'],
input[type='checkbox'] {
  appearance: none;
  clip-path: inset(50%);
  position: absolute;
  margin: 0;
  accent-color: $color-gray-80;
}

::placeholder {
  color: $color-gray-60;
  opacity: 1;
}

.form-label-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;

  @include max-size($medium) {
    gap: 12px;
    justify-content: flex-start;
  }
}

textarea {
  resize: none;
  line-height: rem(24px);
  display: block;
  margin: 0;
}

input {
  height: $input-height;
}

.input-info {
  font-size: $font-mini;
  font-style: italic;
  gap: 8px;
  display: flex;
  align-items: center;
  margin-top: 4px;

  svg {
    min-width: rem(20px);
  }
}

.input-container {
  width: 100%;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 3px;
    background-color: $color-primary;
    opacity: 0;
    transition:
      opacity 0.5s ease,
      background-color 0.2s ease;
    pointer-events: none;
  }

  &:has(:focus-visible)::after {
    opacity: 1;
  }

  &:has([aria-invalid='true']:focus-visible)::after {
    background-color: $color-danger;
  }

  .input-suffix-container {
    position: relative;

    input {
      padding-right: 40px;
    }

    .input-suffix {
      position: absolute;
      top: 50%;
      right: 12px;
      transform: translateY(-50%);
      pointer-events: none;
    }
  }

  + .input-info {
    margin-top: -14px;
  }

  input,
  textarea {
    padding: 12px;

    @extend %styled-input;
  }

  textarea[aria-invalid='true'],
  input[aria-invalid='true'] {
    @include outline($color: $color-danger, $offSet: 0);

    &:focus-visible {
      outline: transparent;
    }
  }
}

.date-picker-container {
  tbody {
    max-height: rem(250px);
  }
}
