@use './globals' as *;

// Remove autofill
:-webkit-autofill,
:-webkit-autofill:hover,
:-webkit-autofill:focus {
  transition: background-color 5000s ease-in-out 0s;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  appearance: textfield;
}

input[type='radio'],
input[type='checkbox'] {
  appearance: none;
  pointer-events: none;
  margin: 0;
}

::placeholder {
  color: $color-gray-60;
  opacity: 1;
}

.option-group-title,
.form-label-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
}

textarea {
  resize: none;
  line-height: rem(24px);
}

input {
  min-height: $input-height;
}

.input-info {
  font-size: $font-mini;
  font-style: italic;
  gap: 8px;
  display: flex;
  align-items: center;
  margin-top: 4px;

  svg {
    min-width: rem(20px);
  }
}

.input-container {
  width: 100%;
  position: relative;
  border-bottom: 3px solid transparent;

  + .input-info {
    margin-top: -14px;
  }

  &:has(input:focus-visible) {
    border-color: $color-primary;
  }

  &:has(.input-suffix) {
    .error-icon {
      right: 36px;
    }
  }

  input,
  textarea {
    padding: 12px;

    @extend %styled-input;
  }

  textarea[aria-invalid='true'] {
    @include outline($color-danger);

    &:focus-visible {
      border-color: $color-danger;
      outline: transparent;
    }
  }

  input[aria-disabled='true'] {
    pointer-events: none;
  }

  input[aria-invalid='true'] {
    @include outline($color-danger);

    &:focus-visible {
      border-color: $color-danger;
      outline: transparent;
    }
  }
}

.date-picker-container {
  tbody {
    max-height: rem(250px);
  }
}

.input-suffix {
  position: absolute;
  z-index: 1;
  top: 52%;
  right: 12px;
}
