@use './globals' as *;

// Remove autofill
:-webkit-autofill,
:-webkit-autofill:hover,
:-webkit-autofill:focus {
  transition: background-color 5000s ease-in-out 0s;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  appearance: textfield;
}

.secondary-radio {
  input {
    border-radius: 50%;
    margin-right: 10px;
    background-color: $color-white;
    color: currentcolor;
    width: rem(24px);
    height: rem(24px);
    border: 2px solid #617886;
    transform: translateY(-1.2px);
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;

    &::before {
      content: '';
      display: block;
      width: rem(15px);
      height: rem(15px);
      border-radius: 50%;
      transform: scale(0);

      @include transition($time: 0.12s);

      box-shadow: inset 16px 0 #617886;
    }

    &:checked {
      border-color: #617886;
      outline: transparent;

      &::before {
        transform: scale(1);
      }
    }
  }
}

input[type='radio'] {
  appearance: none;
  clip-path: inset(50%);
  position: absolute;
  margin: 0;
}

input[type='checkbox'] {
  appearance: none;
  clip-path: inset(50%);
  position: absolute;
  margin: 0;
}

::placeholder {
  color: $color-gray-60;
  opacity: 1;
}

.form-label-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;

  @include max-size($medium) {
    gap: 12px;
    justify-content: flex-start;
  }
}

textarea {
  resize: none;
  line-height: rem(24px);
  display: block;
  margin: 0;
}

input {
  height: $input-height;

  &::before {
    content: '';
  }
}

.input-info {
  font-size: $font-mini;
  font-style: italic;
  gap: 8px;
  display: flex;
  align-items: center;
  margin-top: 4px;

  svg {
    min-width: rem(20px);
  }
}

.input-container {
  width: 100%;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 3px;
    background-color: $color-primary;
    opacity: 0;
    transition:
      opacity 0.5s ease,
      background-color 0.2s ease;
    pointer-events: none;
  }

  &:has(:not([readonly]):focus-visible)::after {
    opacity: 1;
  }

  input[readonly],
  textarea[readonly] {
    color: $color-gray-60;
    cursor: default;
  }

  &:has([aria-invalid='true']:focus-visible)::after {
    background-color: $color-danger;
  }

  .input-suffix-container {
    position: relative;

    input {
      padding-right: 40px;
    }

    .input-suffix {
      position: absolute;
      top: 50%;
      right: 12px;
      transform: translateY(-50%);
      pointer-events: none;
    }
  }

  + .input-info {
    margin-top: -14px;
  }

  input,
  textarea {
    padding: 12px;

    @extend %styled-input;
  }

  textarea[aria-invalid='true'],
  input[aria-invalid='true'] {
    @include outline($color: $color-danger, $offSet: 0);

    &:focus-visible {
      outline: transparent;
    }
  }
}

.date-picker-container {
  tbody {
    max-height: rem(250px);
  }
}
