@use './globals' as *;

.general-page {
  max-width: rem(800px);

  .general-page-header {
    text-align: center;
  }

  .general-page-title {
    font-size: $font-x-large;
  }
}

.generel-page-content {
  display: flex;
  flex-direction: column;
  gap: 32px;

  ul {
    list-style: disc;
    margin: auto;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    gap: 8px;

    li::marker {
      color: $color-blue-30;
    }
  }

  .important-info {
    font-size: 20px;
    border-left: 8px solid $color-blue-30;
    padding-block: 12px;
    padding-left: 24px;
    text-wrap: pretty;
  }

  h2 {
    font-size: $font-large;
    margin-bottom: 8px;
  }

  h3 {
    font-size: $font-medium;
  }

  p {
    margin-block: 8px 4px;
    text-wrap: pretty;
  }

  .section-item-container {
    display: flex;
    flex-direction: column;
    gap: 12px;

    p {
      margin-block: 4px;
    }
  }
}

.about-us-page {
  display: flex;
  gap: 24px;

  .about-img-container,
  .about-us-container {
    flex: 1;
  }

  .about-img-container {
    img {
      max-height: rem(600px);
      object-position: top;
    }
  }
}
