@use './globals' as *;

.general-page {
  max-width: rem(800px);

  .general-page-header {
    text-align: center;
  }

  .general-page-title {
    font-size: $font-x-large;
  }
}

.about-us-page {
  display: flex;
  gap: 24px;

  .about-img-container,
  .about-us-container {
    flex: 1;
  }

  .about-img-container {
    img {
      max-height: rem(600px);
      object-position: top;
    }
  }
}
