@use './globals' as *;

.general-page {
  max-width: rem(800px);

  .breadcrumbs-container {
    display: flex;
    justify-content: center;
  }

  header {
    margin-bottom: 40px;
    text-align: center;
  }

  h1 {
    font-size: $font-x-large;
    text-box: $text-box;
    margin-top: 8px;
  }
}

.generel-page-container {
  display: flex;
  flex-direction: column;
  gap: 32px;

  ul {
    list-style: disc;
    margin: auto;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    gap: 8px;

    li::marker {
      color: $color-blue-30;
    }
  }

  .important-info {
    font-size: 20px;
    border-left: 8px solid $color-blue-30;
    padding-block: 12px;
    padding-left: 24px;
    text-wrap: pretty;
  }

  h2 {
    font-size: $font-large;
    margin-bottom: 8px;
  }

  h3 {
    font-size: $font-medium;
  }

  p {
    margin-block: 8px 4px;
    text-wrap: pretty;
  }

  .section-item-container {
    display: flex;
    flex-direction: column;
    gap: 12px;

    p {
      margin-block: 4px;
    }
  }
}
