@use './globals' as *;

.visually-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  height: 1px;
  width: 1px;
}

.flex {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;

  @include max-size($medium) {
    flex-direction: column;
  }
}

.flex-align-right {
  display: flex;
  justify-content: flex-end;
}

.column {
  flex-direction: column;
}

.page-small {
  width: 100%;
  max-width: $page-width-small;
}

.page-medium {
  width: 100%;
  max-width: $page-width-medium;
}

.text-bold {
  font-weight: 700;
}

.grid {
  display: grid;
  gap: 16px;

  &.two-col {
    grid-template-columns: repeat(2, 1fr);
  }

  &.three-col {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));

    @include max-size($small) {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
  }
}

.position-relative {
  position: relative;
}

.danger {
  background-color: transparent;
  color: $color-red-light;
}

.disabled-trash-icon {
  position: relative;
  display: flex;

  &::before {
    content: '';
    position: absolute;
    display: flex;
    background-color: currentcolor;
    height: 28px;
    width: 2px;
    transform: rotate(45deg);
    top: -3px;
    right: 9px;
  }
}
