@use './globals' as *;

.visually-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  position: absolute !important;
  white-space: nowrap;
  height: 1px;
  width: 1px;
}

.flex {
  display: flex;
  gap: 20px;
  width: 100%;

  &.align-items-start {
    align-items: flex-start;
  }

  &.align-items-center {
    align-items: center;
  }

  .flex-1 {
    flex: 1;
  }

  .flex-2 {
    flex: 2;
  }
}

.flex-align-right {
  display: flex;
  justify-content: flex-end;
}

.justify-space-between {
  justify-content: space-between;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.text-bold {
  font-family: $font-primary-bold;
}

.text-italic {
  font-style: italic;
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-line-through {
  color: $color-red-15;
  text-decoration: line-through;
}

.grid {
  display: grid;
  gap: 30px;

  &.two-col {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  &.three-col {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));

    @include max-size($small) {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
  }
}

.position-relative {
  position: relative;
}

.danger {
  background-color: transparent;
  color: $color-danger;
}

.footer {
  display: flex;
  gap: 12px;
  margin-top: 12px;
}

.separator {
  width: 100%;
  height: 1px;
  display: flex;
  background-color: $color-gray-80;
}
