@use './globals' as *;

.checkbox-radio-container {
  display: flex;
  align-items: center;
  gap: 4px;

  input {
    appearance: none;
    background-color: $color-white;
    color: currentcolor;
    width: rem(24px);
    height: rem(24px);
    border: 2px solid $color-border-secondary;
    transform: translateY(-1.2px);
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:focus-visible {
      box-shadow: $box-shadow-input;
      outline: transparent;
    }

    @include transition($time: 0.22s);
  }

  .form-label-container {
    order: 2;
  }

  label {
    cursor: pointer;
  }
}

.radio-card {
  display: flex;
  text-transform: uppercase;

  .checkbox-radio-container {
    width: 100%;
    justify-content: center;
    gap: 4px;

    &:has(input:checked) {
      color: $color-white;
    }

    .form-label-container {
      z-index: 1;
      position: absolute;
    }
  }

  input[type='radio'] {
    width: 100%;

    @extend %styled-input;

    &:checked {
      background-color: $color-background-secondary;
    }
  }
}

.radio-btn-container:not(.radio-card) {
  display: flex;
  gap: 4px;
  margin-top: 12px;

  input[type='radio'] {
    border-radius: 50%;

    &::before {
      content: '';
      width: rem(8px);
      height: rem(8px);
      border-radius: 50%;
      transform: scale(0);
      box-shadow: inset 16px 0 $color-background-secondary;

      @include transition($time: 0.12s);
    }

    &:checked {
      border-color: $color-border-secondary;

      &::before {
        transform: scale(1);
      }
    }
  }
}

input[type='checkbox'] {
  border-radius: 4px;

  &:checked {
    border-color: $color-border-secondary;
    background-color: $color-background-secondary;

    &::before {
      content: '';
      position: relative;
      top: -2px;
      transform: rotate(45deg);
      width: rem(3px);
      height: rem(8px);
      border-bottom: 2px solid $color-white;
      border-right: 2px solid $color-white;
    }
  }
}

.checkbox-list {
  display: flex;
  gap: 20px;
}

.form-span-container {
  justify-content: flex-start;
  gap: 20px;
}

.toggle-switch-list {
  position: relative;
  gap: 12px;
  display: flex;
  flex-direction: column;

  label {
    display: flex;
    width: 47px;
    height: 25px;
    background-color: $color-gray-40;
    border-radius: 99px;
    cursor: pointer;

    @include transition;

    &::after {
      content: '';
      position: absolute;
      top: 2px;
      left: 2px;
      width: 20px;
      height: 20px;
      background-color: #fff;
      border-radius: 50%;

      @include transition;
    }

    span {
      position: absolute;
      left: 52px;
      top: 3px;
    }
  }

  .checkbox-item:has(input:checked) {
    label {
      background-color: $color-background-secondary;

      &::after {
        left: 25px;
      }
    }
  }

  .checkbox-item:has(input:focus-visible) {
    label {
      box-shadow: $box-shadow-input;
    }
  }

  .checkbox-item {
    position: relative;
  }
}
