@use './globals' as *;

* {
  box-sizing: border-box;
  font-family: $font-primary;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-size: rem(16px);
  color: $color-gray-12;
}

h1 {
  font-size: rem(48px);
  font-family: $font-secondary;
  font-weight: normal;
  color: #000;
}

.main-container {
  margin: 0;
  height: 100%;
  display: grid;
  grid-template-rows: max-content 1fr;
}

.container {
  max-width: rem(1400px);
  margin: 0 auto;
  padding: 30px 20px;
  width: 100%;
}

.hero {
  background-image: url('/images/fashion_fusion_banner.webp');
  background-size: cover;
  background-repeat: no-repeat;
  height: rem(480px);

  @include max-size($large) {
    height: auto;
  }
}

.logo {
  svg {
    height: 24px;
    width: 260px;
  }
}
