@use './globals' as *;

* {
  box-sizing: border-box;
  font-family: $font-primary;

  $color-background: $color-gray-40;
  $color-foreground: #dbd9db;

  @include min-size($small) {
    ::-webkit-scrollbar {
      width: 8px;
      height: 8px;
    }

    ::-webkit-scrollbar-track {
      background-color: $color-background;
      border-radius: 2px;
    }

    ::-webkit-scrollbar-thumb {
      background-color: $color-foreground;
      border-radius: 4px;
    }

    @supports not selector(::-webkit-scrollbar) {
      scrollbar-width: thin;
      scrollbar-color: $color-foreground $color-background;
    }
  }
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-size: rem(14px);
  color: #473f4a;
  letter-spacing: rem(0.5px);
}

h1,
h2 {
  margin: 0;
  font-weight: normal;
  letter-spacing: 3px;
  margin-bottom: 12px;
}

h1 {
  font-size: rem(24px);
  font-family: $font-secondary;
  display: flex;
  align-items: center;
  justify-content: center;

  &::after {
    content: '';
    display: flex;
    margin-left: 8px;
    border-bottom: 2px solid #262526;
    border-radius: 4px;
    width: 59px;
  }
}

a {
  text-decoration: none;
  position: relative;

  &::after {
    position: absolute;
    content: '';
    inset: -10px;
  }
}

img {
  width: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-container {
  margin: 0;
  height: 100%;
  display: grid;
  grid-template-rows: max-content 1fr;
}

.container {
  max-width: rem(1400px);
  margin: 0 auto;
  padding: 28px 20px;
  width: 100%;
}
