@use './globals' as *;

$burger-placement: -8px;

.burger-basic {
  width: rem(30px);
  height: 2px;
  background-color: $color-gray-30;
  position: absolute;
}

.menu-burger {
  &.btn-ghost {
    padding: 8px 20px;
  }

  .menu-burger-item {
    @extend .burger-basic;
    @include transition;

    &::before,
    &::after {
      content: '';
      display: block;

      @extend .burger-basic;
      @include transition($time: 0.6s);
    }

    &::before {
      top: $burger-placement;
    }

    &::after {
      bottom: $burger-placement;
    }
  }

  &[aria-expanded='true'] {
    .menu-burger-item {
      background-color: transparent;
      transform: rotateY(180deg);

      &::before {
        transform: translate3d(0, 10px, 0) rotate(45deg);
        top: -10px;
      }

      &::after {
        transform: translate3d(0, -10px, 0) rotate(-45deg);
        bottom: -10px;
      }
    }
  }
}
