@use './globals' as *;

.checkout-title {
  text-transform: uppercase;
  font-family: $font-primary-bold;
  font-size: $font-medium;
  margin-bottom: 12px;
}

.cart-page {
  display: grid;
  grid-template-columns: minmax(0, 1fr) rem(416px);
  gap: 40px;

  @include max-size($medium) {
    grid-template-columns: 1fr 1fr;
  }

  @include max-size($small) {
    grid-template-columns: 1fr;
  }

  .cart-page-aside {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.cart-list {
  display: flex;
  flex-direction: column;
  max-width: rem(700px);
}
