@use './globals' as *;

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: $page-width-large;
}

.page-small {
  max-width: $page-width-small;
}

.page-medium {
  max-width: $page-width-medium;
}
