@use './globals' as *;

.page {
  display: flex;
  flex-direction: column;
  align-items: center;

  .page-title {
    width: 100%;
    font-size: 1.5rem;
    font-family: felix, sans-serif;
    font-weight: normal;
    color: #66606d;
    margin: 0;
    margin-bottom: 22px;
    letter-spacing: 3px;
    display: flex;
    align-items: center;
    justify-content: center;

    &::after {
      content: '';
      display: flex;
      margin-left: 8px;
      width: 80%;
      border-bottom: 2px solid #262526;
      border-radius: 4px;
      max-width: 59px;
    }
  }
}

.admin-page-container {
  background-color: #f9f9f9;
  padding-left: 40px;
  padding-right: 40px;

  .page-card {
    background: #fff;
    padding: 12px;
    border-radius: 4px;
    box-shadow: $box-shadow;
    margin-bottom: 12px;
  }

  .user-page {
    .empty-cell {
      position: relative;
      display: flex;
      justify-content: flex-end;

      &::before {
        content: '';
        position: absolute;
        display: flex;
        background-color: currentcolor;
        height: 28px;
        width: 2px;
        transform: rotate(45deg);
        top: -3px;
        right: 9px;
      }
    }
  }

  .category-page {
    display: flex;
    flex-direction: column;
    align-items: center;

    .submit-category {
      max-width: rem(450px);
      width: 100%;
    }
  }
}

.admin-container {
  .main {
    display: flex;
  }

  .container {
    max-width: 100%;
  }

  header {
    height: $header-height;
  }

  .aside {
    position: relative;
    display: flex;
    flex-direction: column;
    height: calc(100svh - $header-height);
    width: rem(300px);

    @include transition($what: width, $time: 0.2s);

    &.collapsed {
      width: rem(61px);

      .btn-ghost {
        svg {
          transform: rotate(180deg);
        }
      }

      .nav-text {
        opacity: 0;
      }
    }
  }
}
