@use './globals' as *;

.visually-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  position: absolute !important;
  white-space: nowrap;
  height: 1px;
  width: 1px;
}

.main-container {
  margin: 0;
  height: 100%;
}

.container {
  max-width: rem(1800px);
  margin: 0 auto;
  padding-inline: 20px;
  width: 100%;
}

.page-small {
  max-width: $page-width-small;
}

.page-medium {
  max-width: $page-width-medium;
}

.flex {
  display: flex;
  gap: 20px;
  width: 100%;

  &.align-items-center {
    align-items: center;
  }
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-align-right {
  display: flex;
  justify-content: flex-end;
}

.flex-justify-space-between {
  display: flex;
  justify-content: space-between;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.text-bold {
  font-family: $font-primary-bold;
}

.text-italic {
  font-style: italic;
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-line-through {
  text-decoration-line: line-through;
}

.grid {
  display: grid;

  &.grid-two-col {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
}

.position-relative {
  position: relative;
}

.danger {
  background-color: transparent;
  color: $color-danger;
}
