@use './globals' as *;

.visually-hidden {
  position: absolute !important;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip-path: inset(50%);
}

.main-container {
  margin: 0;
  min-height: 100%;
}

.container {
  max-width: rem(1800px);
  margin: 0 auto;
  padding-inline: 20px;
  width: 100%;
}

.page-small {
  max-width: $page-width-small;
}

.page-medium {
  max-width: $page-width-medium;
}

.flex {
  display: flex;
  gap: 20px;
  width: 100%;

  &.align-items-center {
    align-items: center;
  }
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-align-right {
  display: flex;
  justify-content: flex-end;
}

.flex-justify-space-between {
  display: flex;
  justify-content: space-between;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.text-bold {
  font-family: $font-primary-bold;
}

.text-small {
  font-size: $font-mini;
}

.text-italic {
  font-style: italic;
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-line-through {
  text-decoration-line: line-through;
}

.grid {
  display: grid;

  &.grid-two-col {
    grid-template-columns: repeat(2, 1fr);
  }
}

.position-relative {
  position: relative;
}

.danger {
  background-color: transparent;
  color: $color-danger;
}

.disabled-item {
  @extend %disabled-item;
}

.mini-item {
  width: rem(12px);
  height: rem(12px);
}

.small-item {
  width: rem(24px);
  height: rem(24px);
}

.medium-item {
  width: rem(68px);
  height: rem(68px);
}

.large-item {
  width: rem(100px);
  height: rem(120px);
}

.delete-user-popup {
  min-width: rem(216px);

  p {
    margin: 0;
  }

  .footer {
    margin-top: 4px;

    .btn {
      min-height: auto;
      font-size: $font-small;
      padding: 8px;
    }
  }
}
