@use './globals' as *;

.container {
  max-width: rem(1800px);
  margin: 0 auto;
  padding-inline: 20px;
  width: 100%;
  padding-bottom: 20px;
}

.page-small {
  max-width: $page-width-small;
}

.page-medium {
  max-width: $page-width-medium;
}

.page-large {
  max-width: $page-width-large;
}

.page-x-large {
  max-width: 90%;

  @include max-size($mini) {
    max-width: 100%;
  }
}

.text-bold {
  font-family: $font-primary-bold;
}

.text-small {
  font-size: $font-mini;
}

.text-italic {
  font-style: italic;
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  max-width: 70%;
}

.text-no-wrap {
  white-space: nowrap;
}

.text-line-through {
  text-decoration-line: line-through;
}

.text-uppercase {
  text-transform: uppercase;
}

.position-relative {
  position: relative;
}

.danger {
  background-color: transparent;
  color: $color-danger;
}

.disabled-item {
  @extend %disabled-item;
}

.mini-item {
  width: rem(14px);
  height: rem(14px);
}

.small-item {
  width: rem(24px);
  height: rem(24px);
}

.medium-item {
  width: rem(68px);
  height: rem(68px);
}

.large-item {
  width: rem(100px);
  height: rem(120px);
}
