@use './globals/variables' as *;
@use './globals/colors' as *;

:export {
  mini: $mini;
  small: $small;
  medium: $medium;
  large: $large;
  paddingBlockSmall: $padding-block-small;
  paddingBlockMedium: $padding-block-medium;
  paddingBlockLarge: $padding-block-large;
}
