@use '../../scss/globals' as *;

.panel {
  overflow: auto;
  position: fixed;
  z-index: 6;
  background-color: $color-white;
  height: 100%;
  top: 0;
  min-width: 360px;
  display: flex;
  padding: 20px;

  @include transition;

  &.left {
    left: -100%;
    width: 100%;

    &.is-active {
      left: 0;
    }
  }

  &.right {
    right: -100%;

    &.is-active {
      right: 0;
    }
  }

  &.top {
    width: 100%;
    top: -100%;

    &.is-active {
      top: 0;
    }
  }

  &.bottom {
    bottom: -100%;
    top: auto;

    &.is-active {
      bottom: 0;
    }
  }
}
