@use '../../scss/globals' as *;

.main-footer {
  background-color: $color-primary;
  color: $color-secondary;
  padding-block: 52px;
  padding-right: 40px;
  padding-bottom: 28px;
  margin-top: 40px;

  a {
    color: $color-secondary;

    &:hover {
      text-decoration: underline;
      text-decoration-thickness: 1.2px;
      text-underline-offset: 4px;
    }
  }

  .footer-nav-container {
    display: flex;
    gap: 100px;
  }

  .footer-container {
    display: flex;
    gap: 20px;

    @include max-size($small) {
      flex-direction: column;
    }
  }

  .footer-shop-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 2;
  }

  .footer-social-container {
    display: flex;
    align-items: center;
    gap: 28px;
    flex: 1;
  }

  .footer-nav-title {
    text-transform: uppercase;
    margin-bottom: 8px;
    font-size: $font-medium;
    font-family: $font-primary-semibold;
  }

  .footer-nav-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .footer-nav-item {
    &.active {
      text-decoration: underline;
      text-decoration-thickness: 1.2px;
      text-underline-offset: $text-underline-offset;
    }
  }
}
