@use '../../scss/globals' as *;

.main-footer {
  background-color: #191919;
  color: $color-secondary;

  a {
    color: $color-secondary;

    &:hover {
      text-decoration: underline;
    }
  }
}
