@use '../../../../scss/globals' as *;

.order-address-list {
  display: flex;
  gap: 20px;

  @include max-size($mini) {
    flex-direction: column;
  }

  .order-address-item {
    flex: 1;
    background-color: $color-background;
    padding: 32px;
    border-radius: $border-radius;
  }

  p {
    margin: 0;
  }

  .order-address-content {
    gap: 4px;
    display: flex;
    flex-direction: column;
  }
}
