@use '../../scss/globals' as *;

.edit-user {
  display: flex;
  justify-content: space-between;

  .edit-user-text {
    width: max-content;
  }
}

.cell-user-popup {
  min-width: rem(216px);

  .control-list.secondary {
    .control-item {
      height: rem(48px);
    }
  }

  p {
    margin: 0;
  }

  .edit-user-input {
    min-height: rem(32px);
  }

  .footer {
    margin-top: 8px;

    .btn {
      min-height: auto;
      font-size: $font-small;
      padding: 8px;
    }
  }
}
