@use '../../scss/globals' as *;

.edit-user {
  display: flex;
  justify-content: space-between;

  .edit-user-text {
    width: max-content;
  }
}

.action-popup {
  .control-list.secondary {
    .control-item {
      height: rem(48px);
    }
  }
}
