$color-white: #fff;
$color-black: #000;
$color-blue: #2c566d;
$color-red: #d20917;

// Gray colors

$color-gray-30: #a7a6ba;
$color-gray-40: #f9f9f9;
$color-gray-55: #dbe0dc;

/* colors */
$color-danger: $color-red;
$color-border: $color-gray-30;
$color-background: $color-gray-40;
$color-overlay: rgb($color-black, 0.6);

// $color-mics
$color-error: $color-danger;
$color-success: #2c566d;
$color-info: #4e8673;
$color-warning: #fec901;
