@use './colors' as *;
@use './functions' as *;
@use './fonts' as *;

%styled-input {
  background-color: $color-gray-15;
  border: 0;
  min-height: rem(68px);
  border-radius: 4px;
  color: $color-main;
  outline: transparent;
  font-family: $font-primary;

  &:disabled {
    pointer-events: none;
    opacity: 0.3;
  }
}
