@use './colors' as *;
@use './variables' as *;
@use './fonts' as *;

%styled-input {
  background-color: $color-secondary;
  border: 0;
  height: $input-height;
  border-radius: 4px;
  color: $color-primary;
  outline: transparent;
  font-family: $font-primary;

  &:disabled {
    pointer-events: none;
    opacity: 0.3;
  }
}
