@font-face {
  font-family: felix;
  src:
    url('fonts/FelixTitlingMT.woff2') format('woff2'),
    url('fonts/FelixTitlingMT.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: outfit;
  src:
    url('fonts/Outfit-Regular.woff2') format('woff2'),
    url('fonts/Outfit-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

$font-primary: outfit, sans-serif;
$font-secondary: felix, sans-serif;
