/* stylelint-disable block-no-redundant-nested-style-rules */
@use './colors' as *;
@use './variables' as *;
@use './functions' as *;
@use 'sass:math';

$animation-duration: 0.5s;
$animation-timing-function: ease-in-out;

@mixin max-size($width) {
  @media (width <= $width) {
    @content;
  }
}

@mixin between-size($maxWidth, $minWidth) {
  @media ($maxWidth <= width <= $minWidth) {
    @content;
  }
}

@mixin min-size($width) {
  @media (width >= $width) {
    @content;
  }
}

@mixin transition($what: all, $time: 0.3s, $how: $animation-timing-function) {
  @media (prefers-reduced-motion: no-preference) {
    & {
      transition: $what $time $how;
    }
  }
}

@mixin animation(
  $name,
  $duration: $animation-duration,
  $timing: $animation-timing-function
) {
  @media (prefers-reduced-motion: no-preference) {
    & {
      animation: $name $duration $timing forwards;
    }
  }
}

@mixin outline($color: $color-blue-30, $size: 2px, $offSet: 2px) {
  outline: $size solid $color;
  outline-offset: $offSet;
}

@mixin grid-template-column($size: 350px) {
  @if math.is-unitless($size) or math.unit($size) == 'px' {
    $size: rem($size);
  }

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, $size), 1fr));
}

@mixin set-grid-size($size) {
  @if math.is-unitless($size) or math.unit($size) == 'px' {
    $size: rem($size);
  }

  display: grid;

  --grid-size: #{$size};
}

@mixin triangle($size: 6px, $color: $color-white, $dir: down) {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;

  @if $dir == down {
    border-width: $size $size 0 $size;
    border-color: $color transparent transparent transparent;
  } @else if $dir == up {
    border-width: 0 $size $size;
    border-color: transparent transparent $color;
  } @else if $dir == left {
    border-width: $size $size $size 0;
    border-color: transparent transparent transparent $color;
  } @else if $dir == right {
    border-width: $size 0 $size $size;
    border-color: transparent $color transparent transparent;
  }
}
