@use './functions' as *;
@use './colors' as *;

$mini: rem(500px);
$small: rem(767px);
$medium: rem(1024px);
$large: rem(1424px);
$header-height: rem(88px);
$input-height: rem(68px);
$box-shadow: rgb($color-gray-70, 0.2) 0 2px 8px 0;
$box-shadow-input: 0 0 4px 3px rgb($color-blue-30, 30%);
$padding-block-small: 4;
$padding-block-medium: 12;
$padding-block-large: 20;
$padding-block-small-px: $padding-block-small + px;
$padding-block-medium-px: $padding-block-medium + px;
$padding-block-large-px: $padding-block-large + px;
$page-width-small: rem(600px);
$page-width-medium: rem(1000px);
$page-width-large: rem(1400px);
$font-mini: rem(12px);
$font-small: rem(14px);
$font-medium: rem(16px);
$font-large: rem(24px);
$font-xlarge: rem(60px);
$clamp-val: 2.5vw;
