@use '../../scss/globals' as *;

/* stylelint-disable selector-class-pattern */
.select-box {
  .select-box__control {
    @extend %styled-input;
  }

  .select-box__menu {
    z-index: 2;
  }

  .select-box__indicator-separator {
    display: none;
  }

  .select-box__indicator {
    color: currentcolor;
  }

  .select-box__option {
    background-color: #fff;
  }

  .select-box__option--is-focused {
    background-color: #f7f7f7;
  }

  .select-box__control--is-focused {
    box-shadow: 0 0 0 0 transparent;
  }

  .select-box__single-value {
    color: #473f4a;
  }

  .select-box__option--is-selected {
    background-color: #2f6d8f;
    color: #fff;
  }
}
