@use '../../scss/globals' as *;

.product-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-inline-start: 1px solid $color-border;

  .product-list-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.color-list {
  .product-list {
    gap: 4px;
  }

  .product-list-item {
    border: 1px solid transparent;
  }
}

.size-list {
  .product-list-item {
    @extend %stacked-item-border;
  }
}
