@use '../../scss/globals' as *;

.product-list {
  display: flex;

  label.product-label {
    cursor: pointer;
  }

  .product-list-item {
    border: 1px solid $color-border;
    border-right-color: transparent;

    &.text-line-through {
      text-decoration-thickness: 2px;
    }

    input {
      clip-path: inset(50%);
      position: absolute;
    }

    &:last-child {
      border-right-color: $color-border;
    }

    &:has(input[type='checkbox']:checked) {
      background-color: $color-background-secondary;
      color: $color-white;
    }

    &:has(input[type='radio']:checked) {
      border-color: $color-black;

      &:last-child {
        border-color: $color-black;
      }
    }
  }

  .product-label {
    width: rem(68px);
    height: rem(68px);
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: pre;

    &::after,
    &::before {
      content: ' ';
      display: flex;
    }
  }
}
