@use '../../scss/globals' as *;

.product-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  .product-list-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: rem(68px);
    height: rem(68px);

    &.mini {
      width: rem(12px);
      height: rem(12px);
    }

    &.small {
      width: rem(24px);
      height: rem(24px);
    }
  }
}

.color-list {
  .product-list {
    gap: 4px;
  }

  .product-list-item {
    border: 1px solid transparent;
  }
}

.size-list {
  .product-list-item {
    @extend %stacked-item-border;
  }
}
