@use '../../scss/globals' as *;

.record-select-container {
  display: flex;
  align-items: center;
  gap: 20px;

  .input-container {
    position: relative;
    z-index: 5;
  }

  .table-count.info {
    margin: 0;
  }
}
