@use '../../../../scss/globals' as *;

.mini-cart {
  position: fixed;
  width: fit-content;
  height: fit-content;
  top: 16px;
  right: 16px;
  transform: translateX(100%);
  z-index: 10;
  display: flex;
  gap: 4px;
  flex-direction: column;
  padding: 16px;
  background-color: $color-white;
  box-shadow: $box-shadow;
  min-width: rem(340px);
  transition: transform 300ms ease;

  &.entered {
    transform: translateX(0);
  }
}
