@use '../../scss/globals' as *;

.pop-modal {
  border: 0;
  overflow-x: clip;
  border-radius: $border-radius;
  position: fixed;
  z-index: 150;
  padding: 20px 24px;
  margin: 0;
  top: 10%;
  left: 50%;
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: fit-content;
  min-width: rem(340px);
  height: fit-content;
  background-color: $color-white;
  box-shadow: $box-shadow;
  opacity: 0;
  transform: translate(-50%, -100%);

  @include transition(all, 300ms, ease);

  &.entered {
    opacity: 1;
    transform: translate(-50%, 0);
  }

  &.exit {
    opacity: 0;
    transform: translate(-50%, -100%);
  }

  .modal-header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid $color-border;
  }

  .modal-title {
    margin-bottom: 12px;
  }

  .modal-content {
    padding-block: 12px;
  }

  &.modal-small {
    max-width: rem(400px);

    @include max-size($small) {
      max-width: 92%;
    }
  }

  &.modal-medium {
    max-width: rem(752px);

    @include max-size($small) {
      max-width: 92%;
    }
  }

  &.modal-large {
    width: 90%;

    @include max-size($small) {
      min-width: 100%;
    }
  }
}
