@use '../scss/globals' as *;

.account-page {
  height: calc(100svh - $header-height);
  display: flex;
  gap: 24px;

  .label-value-grid {
    border-bottom: 1px solid $color-gray-40;
    padding-block: 12px;
  }

  .account-nav {
    .nav-list {
      display: flex;
      gap: 12px;

      .nav-link {
        text-transform: uppercase;
        font-size: $font-small;

        &.active,
        &:hover {
          color: $color-link-hover;
        }
      }
    }
  }

  .account-content-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
  }

  .account-page-content {
    background-color: $color-background;
    padding: 42px;
    min-height: rem(400px);
  }

  .account-img-container {
    flex: 1;

    img {
      object-fit: cover;
      object-position: top;
      height: 100%;
      width: 100%;
      border-radius: 0;
    }
  }
}
